---
layout: 'default.njk'
title:  "WordPress Website Designer in La Habra, California"
permalink: /wordpress-test/
---
    
    <div class="cont mb-100">
        <h1>WordPress Local Pages</h1>
        {% for post in collections.wordpress | reverse %}
            {% if loop.index0 < 10 %}
                <div>
                    <a href="{{post.url}}"><h2>{{post.data.title}}</h2></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>