---
layout: 'default.njk'
title:  "Ruben Gutierrez"
date:        2024-12-03
permalink: /ruben-gutierrez-website-developer/
---
<div class="container animated mtb-25 paa-25 back-white">
    <h1 class="mb-25">Ruben Gutierrez: Website Developer</h1>
    <p>
        Hello, my name is Ruben Gutierrez and I am a Website Developer from La Habra, California. I've been building website for a few years and I am profoundly passionate about website technology and helping others do what they really want to do.
    </p>
    <p>
        When I'm not working or studying up I'm usually focused on creating free website design resources that I mostly release for free on my website.
    </p>

    <h2>How I Got Started With Technology</h2>

    <p>
        My interest with technology started when I received my first computer for Christmas when I was around ten years old. The PC my parents got me was a mid range HP desktop that came loaded with everyone favorite operating system Microsoft XP. When I wasn't taking the tower apart and putting it back together I was looking up videos and articles up so that I could make it work as smooth and efficient as possible.  Right around the time I received this computer in the early 2000's the internet started to become a more prevalent part of people's life and a lot of technology companies where just not ready for this change. Some of the first issues I ran into as a new   
        
        My friends and family quickly noticed and quickly I was handed a lot of little projects Now that I'm a little older I've redirected my attention to building out websites and applications. 
    </p>

    <h3>Technologies I'm familiar With</h3>
    <p>
        While I do understand that the world of technology is a constantly changing field that requires you to quickly learn new things to overcome different obstacle I also think it's important to let people know some of the tools I'm familiar with and how I've used them to accomplish some of my goals.
    </p>
    <p><strong>HTML </strong> has given me the ability to turn some of my simple ideas into something tangible that I can share with the world. This tool has also given me the ability to present my ideas in ways that social media and other similar platforms just can't. It still baffles me to think that a bunch of numbers and letters have the capacity to provide assistance to  create tools that provide assistance to people from all over the world s</p>

    <p><strong>Static Site Generators </strong> have made it easier to maintain my projects at scale. These have brought about an effiecienty and order into my life almost absolutely free. Tools like Jekyll and 11ty </p>

    <p><strong>WordPress </strong>One of these most valuable skills I've learned as a freelance website developer has been WordPress. With 40 percent of the website online being ran on WordPress it goes without saying that WordPress is a corner stone of the internet. ov</p>
</div>


    