---
title: Blog
layout: 'default.njk'
permalink: /blog/
description: "Welcome to the blog of Ruben Gutierrez, Website Designer & Developer. Check out my current project, along with insights into my design and development processes"
---

<div class="" style="padding:20px;">
    <div class="mac" style="padding:25px;">
        <span class="_600 _12">Ruben Gutierrez's </span>
        <h1 class="h1">Blog</h1>
    </div>
</div>

<hr>

<div class="mac" style="padding:20px;">

    <div class="mtb-25">
        <div class="">
            
            <a href="/day/">Day</a>
            <br>
            <br>
            <a href="/technology/">Technology</a>
            
        </div>
    </div>
</div>


