---
title: Contact - Let's Talk
layout: 'default.njk'
permalink: /contact/
description: "Welcome to the blog of Ruben Gutierrez, Website Designer & Developer. Check out my current project, along with insights into my design and development processes"
---
<script src="https://www.gstatic.com/firebasejs/11.2.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/11.2.0/firebase-firestore-compat.js"></script>

<div class="mac br flex" style="padding:0;">
    
    <div class=" back-white animated mw-50" style="background:#eee;text-align:center;">
        <h1>Let's Talk!</h1>
        <p class="mb-50">Are you interested in working together? Please feel free to reach out I reply quick.</p>
        <div class="animated" style="animation-delay:.5s;">
            <h2 class="h4">Contact Information</h2>
            <p class="_14">Fill out the contact form and I'll be in touch with you as soon as possible.</p>
            <p class="_14">Email: rubengutierrezwebdesign@gmail.com</p>
            <p class="_14">Phone: (562) 475 - 8959</p>
        </div>
    </div>
    
    <form class="contact-form back-white  animated mw-50" style="animation-delay:1s;max-width:;width:100%;">
        <input type="search" class="full-name" placeholder="Name">
        <br>
        <input type="search" class="email-address" placeholder="Email">
        <br>
        <textarea name="" class="message" placeholder="Message" style="height:120px;" ></textarea>
        <br>
        <button class="submit-form paa-25 btn black-hover" type="submit" style="cursor:pointer;">Submit</button>
    </form>
    
    <script src="/assets/js/firebase.js"></script>

    <script>
        firebase.initializeApp(firebaseConfig);

        const db = firebase.firestore();
    </script>

    <script >
        const contactForm = document.querySelector('.contact-form');
        const name = document.querySelector('.full-name');
        const email = document.querySelector('.email-address');
        const submit = document.querySelector('.submit-form');
        const message = document.querySelector('.message');

        submit.addEventListener("click", (e) => {
            e.preventDefault();
            db.collection('contact-form')
                .doc('Message')
                .set({
                    name: name.value,
                    email: email.value,
                    message: message.value,
                })
                .then(() => {
                    contactForm.reset();
                });
        });
    </script>

</div>