---
title: Donate
layout: 'default.njk'
permalink: /donate/
description: "none"
---
<div class="" style="padding:10px 25px;">

    <div class="mac">
      <h1>Donate</h1>
    </div>
    
    <div class="mac " style="padding:25px 0;">
      <script src="https://donorbox.org/widget.js" paypalExpress="false"></script> <iframe src="https://donorbox.org/embed/new-895906?" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important" allow="payment"></iframe>
    </div>

</div>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>
