---
title: Help
layout: 'default.njk'
permalink: /donate/
description: "none"
---

<div class="mac " style="padding:0 25px;">
    <h1 class="h1">Donate</h1>
    <p>you know how you just don't want to</p>
</div>