---
layout: 'default.njk'
title:  "Pages"
date:        2024-12-03
permalink: /pages/
---
<div class="container animated mtb-25 paa-25 back-white">

        <h1 class="mb-25">Pages</h1>
        <p>Here are some of the things I've made feel free to look around.</p>


</div>

<div class="container animated back-white j-flex paa-25 mtb-25" style="animation-delay:.5s;">

        <div class="inner-container back-white paa-25 br" style="width:150px;">
            <img src="/assets/icons/local.svg" alt="">
            <h2 class="h5">Local SEO</h2>
            <p class="_12">Directory for local pages in North Orange County.</p>
            <a href="/local" class="btn">Local SEO</a>
        </div>

        
        <div class="inner-container back-white br paa-25 text-center" style="width:150px;">
            <img src="/assets/icons/websites.svg" alt="">
            <h2 class="h5">Websites</h2>
            <p class="_12">Learn More About Websites.</p>
            <a href="/websites" class="btn">Guides</a>
        </div>

        <div class="inner-container back-white br paa-25" style="width:150px;">
            <img src="/assets/icons/tools.svg" alt="">
            <h2 class="h5">Tools</h2>
            <p class="_12">Tools I've Made.</p>
            <a href="/tools" class="btn">Tools</a>
        </div>f

    </div>
    