---
title: Website Services
layout: 'default.njk'
permalink: /services/
description: "Welcome to the blog of Ruben Gutierrez, Website Designer & Developer. Check out my current project, along with insights into my design and development processes"
---

<div class="mac" style="padding:50px 25px;">  
    <h1>Services I Provide</h1>
</div>



<div class="mac text-center">  
    <h2 class="h2">Website Packages</h2>
    <p>Check out some of these conivent website packages I offer.</p>
</div>

<div class="mac flex paa-25" >
    
    <div class="mw-30 mb-25 gradient-box paa-25" style="background:#eee;height:350px;text-align:center;border-radius:5px;">
        <h3 class="_800"> $99</h3>
        <p>Static</p>
        <p>Free Hosting + Free Domain</p>
        <p>3 Custom Pages (3X Revisions)</p>
        <a href="/contact/" class="btn">Select</a>
    </div>

    <div class="mw-30 mb-25 gradient-box paa-25" style="background:#eee;height:350px;text-align:center;border-radius:5px;">
        <h3 class="_800"> $399</h3>
        <p>CMS (WordPress)</p>
        <p>Free Hosting + Free Domain</p>
        <p>3 Custom Pages (10X Revisions)</p>
        <p>Free Consultations</p>
        <p>Maitnenance 1/2 Year</p>
        <a href="/contact/" class="btn">Select</a>
    </div>

    <div class="mw-30 paa-25" style="background:#eee;height:350px;text-align:center;border-radius:5px;">
        <h3 class="_800">$X,000</h3>
        <p>Complex Design</p>
        <p>Free Hosting </p>
        <p>3 Custom Pages (X Revisions)</p>
        <p>Free Consultations</p>
        <p>Ongoing Maitnenance 1 Year</p>
        <a href="/contact/" class="btn">Select</a>

    </div>
</div>

<div class="mac paa-25 text-center">  
    <h2 class="h3">Different Types of Services</h2>
    <h3 class="h4">Search Engine Optimization</h3>
    <p>More Pages More Keywords, Let's Get Your Website Found Online</p>
</div>
