---
layout:      'post.njk'
date:        2025-02-02
title:       "Finished My Website Pricing Tool"
permalink:   /2025-02-01/
thumbnail:   \assets\images\pricing-tool-blog-post.png
tags:        current_post
description: I made 10 Icons for the website pricing tool I'm working on. I was also able to figure out some JavaScript to make it work exactly the way I need it too.
---
<div class="mtb-50"style="max-width: 500px;">
    <img src="\assets\images\pricing-tool-blog-post.png" class="mb-50" alt="">

    <p class="mb-25">
        Today I finished making the website pricing tool I had been working on for a couple of weeks now.
    </p>

    <p>Above are the icons that I designed for the tool.</p>

    <h2>Use This Tool Live</h2>

    <p>If you want to see this tool live please consider.</p>

    <h3>My Goal With This Project</h3>
    <p>My goal with this project is to help people get a better understanding of the price of a website.</p>
   
    <h3>About This Tool</h3>
    <p>the calculator is a simple 4 question answer though if this gets a lot of downloads and I get some donations I will be adding significantly more features and customization. </p>


     <a href="/website-pricing-calculator/" class="btn mb-25">See Icons On Calculator</a>

</div>

