---
title:       "Better Website Design"
permalink:   /2025-02-06/
layout:      'post.njk'
date:        2024-11-24
tags:        posts
thumbnail:   
description: Last few weeks I've been looking up a lot of information about website design
---
<p>
   Last few weeks I've been looking up a lot of information about website design
</p>



