---
title:       "Switching My Website Over From Jekyll to 11ty"
permalink:   /switching-from-jekyll-to-11ty/
layout:      'post.njk'
date:        2025-03-21
tags:        posts
thumbnail:   \pages\blog\24\11\jekyll-to-11ty.png
description: Part of the reason I moved over from Jekyll to 11ty was the Build time. While Jekyll is really good for smaller websites it starts falling on it's face as the website gets bigger
---

<p>
    Today I made the decisions of moving my website over from Jekyll to 11ty. The move started because I ran into a problem that I had never encountered with using Jekyll. 
</p>


<h2>Learning Jekyll Forced Me To Become A Better Website Developer</h2>
<p>
    I've been using Jekyll for a while now and learning it was one of the best decisions I made. Jekyll was the first static site generator I learned how to use mainly because I wanted to host my website for free on Github. I'll always appreciate Jekyll because through the process of learning this software I also learned all the little details that requires creating and deploying a website from the bottom up Before learning Jekyll I relied on various types of templating software like WordPress themes to build out my web projects, while these technologies are great they don't offer the level of customization that I was looking for. 

<h3>What Happened That Made Me Switch</h3>
<p> 
    I didn't really plan on learning how to use a new static site generator but the longer my Jekyll site was taking to load after making some edits the more I began to consider finding an alternative option. I finally decided to make the move when my laptop froze for almost an entire minute. At first I thought it was my hardware because the laptop I was using at that moment was a little older, but after running some tests on my higher performing PC's a little later I realized it wasn't a problem with my laptop at all It was the software I was using and what I was expecting from it.
</p>

<h3>Jekyll Is For Smaller Website Projects</h3>
<p> 
    Up until now I had been using Jekyll for smaller design focused or heavy text based projects which is why I never ran into performance issues. Now that I'm creating larger projects with more code and assets I've quickly hit it's limitations. Through some research I started to realize that longer build times are a very common problem when it comes to Jekyll  especially when it comes to websites with a lot of content. I even read about a person who's website had around 1,000 pages and their build time was taking almost a half an hour. Theirs a lot of theories out there in on the web design forums indicating that the reason Jekyll builds take a long time is because Ruby on rails, the language used to write Jekyll, is outdated or that file configuration plays a big role but honestly I couldn't really tell you anything for sure. What I can tell you is that Jekyll is a perfect solutions for smaller websites, it has a large support system and 
</p>

<h2>Choosing A New Static Site Generator</h2>
<p>
    My search for a new static site generator started during one of the Jekyll builds when I was just sitting their frozen.The more I looked into alternative and the more I looked the more overwhelmed I became until I found something that I was very familiar with.
</p>


<h3>Why I Chose 11ty</h3>
<p>
    While it has been a bit of a headache adapting to this new static site generator it has gone relatively well and I'm quite surprised by the speed and features.
</p>
<p>I chose 11ty for a few reasons but the main one is for it's speed.</p>
<p>
    From what I've read online it seems that Jekyll is built using older technology. Compare that to 11ty that's built with JavaScript and builds website almost instantaneously.
</p>

<h3>Transisitionsnig Static Site Generators</h3>
<p>One of the reasons I had not considered learning a new static site generators was because I thought It was going to take me a long time to learn how to use software and all the little nuances that come with it..</p>

