---
title:       "Switching From Jekyll to 11ty"
permalink:   /switching-from-jekyll-to-11ty/
layout:      'post.njk'
date:        2025-03-21
tags:        posts
thumbnail:   \pages\blog\24\11\jekyll-to-11ty.png
description: Part of the reason I moved over from Jekyll to 11ty was the Build time. While Jekyll is really good for smaller websites it starts falling on it's face as the website gets bigger
---

<img src="\pages\blog\24\11\jekyll-to-11ty.png" alt="">
<p>
    Today, after years of using Jekyll switched my personal website over to 11ty.
</p>

<p>
    The reason for the move started while I was working on a new project I was going to post on my website. After adding a few images to my websites folder I wrote the command to build out the site and I waited... and waited.. and then my computer froze, after that it took almost a whole minute for my website to generate. At first I thought it was a hardware issue because I'm using an older computer but after running some similar tests on some of my higher end PC's I realized it wasn't a problem with my computers at all.
 
    The more I looked into it the more I started to realized that I had been using a software that wasn't really meant for large projects. Up until recently the way I've used Jekyll is for smaller website development projects. These projects have been mostly search engine opmitimzaiton projects or small landing page ads.
    
     the new tasks I was trying to accomplish. 
    
    
    Lately I've been writing and building more web projects so I've been adding more content like images, videos, pages, etc. to my website.

    Before getting a little more serious about building websites I was using Jekyll for simple things like small seo projects or landing pages. 

</p>

<h2>Some Of Jekyll's Limitation</h2>
<p>
    up until recently I only ever really used Jekyll for smaller websites and seo projects. Now that I'm building larger websites it's been taking longer and longer to compile my website.
</p>

<h3>Looking For Alternatives</h3>
<p>I started to look for alternatives and the more I looked the more overwhelmed I got about choosing one. To</p>

<h3>Why I Chose Eleventy</h3>
<p>While it has been a bit of a headache adapting to this new static site generator it has gone relatively well and I'm quite surprised by the speed and features.</p>
<p>I chose 11ty for a few reasons but the main one is for it's speed.</p>
<p>From what I've read online it seems that Jekyll is built using older technology. Compare that to 11ty that's built with JavaScript and builds website almost instantaneously. </p>

