---
title:       "Adding A Side Menu To My Website & Building A Pricing Tool"
permalink:   /2024-11-14/improving-websites-navigation-building-website-pricing-tool/
layout:      'post.njk'
date:        2024-11-14
description: Spent yesterday adding a side menu to my website and currently building out a pricing tool that can help you estimate how much a website is going to cost based on relative information.
tags:        posts
---

<div class="cont">
    <div class="pd-50">
            <h1>Adding A Side Menu To My Website & Building A Pricing Tool</h1>

    </div>
        <div class="mw-500">

        
        <p>
        Yesterday I finally got around to adding a side menu for mobile devices to my website. 
        </p>
        <p>
            After testing it and working out the bugs, it's up and functional; how it looks is a work in progress.
        </p>

        <h2>Building A Website Pricing Tool</h2>
        <p>
            Another projects I managed to get started on earlier was putting some code together for a pricing tool I've had in mind for a while now. I'm going to be hosting this little application on my website for anyone to use,  especially for people interested in get an estimate on developing a website for their business/personal project.
        </p>

        <p>
            After doing doing some research I was finally able to find the right combination of HTML and JavaScript that does exactly what I need. The code that I Frankensteined takes all the selected values from the inputs in an HTML form and with a little bit of JavaScript it surmises all the selected values and displays a total at the bottom at the click of a button <a href="/calculator">website pricing tool</a>.
        </p>
        <h2>Future Plans For This Tool I'm Building</h2>
        <p>
            While it is just a skeleton right now, in the near future I will be adding things like icons and animations to make it as interactive and engaging as possible.
        </p>
    </div>
</div>