---
layout:      'default.njk'
title:       "How To Make A Website"
date:         2024-12-05
permalink:    /how-to-make-a-website/
tags:         ["websites", ""]
description:  "Making a website is not as hard as you think, follow this tutorial to get the fundamental understanding of what a website is so that you can do whatever you actually need to do!"
---
    
<div class="container paa-50 ">

    <h1 class="mb-50">How To Make A Website</h1>

    <p class="">
        In this guide I'll be showing you how to make the most basic <a href="/what-is-a-website/" target="_blank">website</a> so that you can get a better understanding of the fundamentals and basic concepts behind web design. While programming tutorials are amazing I feel like a lot of them lack a basic understanding of teaching the fundamentals when it comes to answering these types of questions.
        In this tutorials I'm going to 
    </p>


    <div class="">
        <p class="_400 mb-10">Visual Studio Code A Really Good Text Editor</p>
        <p>
            You don't need anything fancy to put together a bare bones website. You can even use the text editor that comes stock with your operating system, but if you do want something that will make  your life a little easier you can download  <a href="https://code.visualstudio.com/" target="_blank">VsCode</a>VsCode or Visual Studio Code is one of the more cutting edge text editors out their right now and it's absolutely free. VsCode does very practical things like Highlihgt code and give you the option to install plugins that make coding significanlty easier.
        </p>
    </div>

    <div>
        
        <div class="mb-20">
            <h2>Before We Begin To Write Any Code</h2>
            <p>
                The first thing you need to understand about websites is that website are basically just a group of certain types of files. Websites and programming in general can be very off putting to people becasue</p>
        </div>

        <div class="mb-20">
            <h2>Step 1: Create A Folder</h2>
            <p> Now that you undertand that we can move on to the  you're going to do is create a folder so that you can store all you're files, name it whatever you like. To create a folder you need to right click on your scroll down to "New" and click itI suggest right clicking on your desktop and heading down t up the folder in your text editor.</p>

            <h2>Step 2: Creating An HTML File</h2>
            <p class="mb-25">
                The main types of files you'll be using when you're developing website are mark up files. Mark up files are coding language used to give render and give structure to information and media.
            </p>
        </div>



    </div>

</div>



