---
layout:      'default.njk'
title:       What is a website?
permalink:   /what-is-a-website/
date:         2024-12-05
tags:         ["websites", ""]
description: Learn what a website is and how it can help you.
---
<div class="mac back-white" style="padding: 50px 25px;">
    
    <h1 class="mb-25">What Is A Website?</h1>
    <p>
        At it's very basics a website is a group of web pages revolving around a certain topic under the same domain. Websites are communication tools and they can be used to display all sorts of different information on them from written content to interactive videos.  This website is about website development and design.
    </p>  

</div>

<div class="mac back-white" style="padding: 50px 25px;">
    <h2>What's the difference between a web page and a website?</h2>
    <p>Website are the individual pages that make up a website. In websites </p>
    
    <p>Website can have a multitude of experiences.</p>
</div>

<div class="mac back-white" style="padding: 50px 25px;">
      <h2>Related Questions</h2>
    <a href="/what-is-static-site-generator/">Learn about Static Site Generators</a>
</div>
