---
layout:      'default.njk'
title:       What is a static site generator?
permalink:   /what-is-static-site-generator/
date:        2024-12-05
tags:        ["", ""]
description: "Static site generators can make building large content rich website easy. Learn how you can."
---
<hr>
<div class="mac paa-25 back-white mtb-50 ">
    <h1>What Is A Static Site Generator?</h1>
    <p class="mw-500">
        Static site generators also abbreviated SSG's are a type of software that use text input files (such as Markdown, JSON) to compile and generate static websites. The difference between static sites and dynamic ones is that static sites don't change. The simple design also makes it harder for attackers to modify the website due to the smaller attack surface of these relatively simple backends. Some of the most popular static site generators are Jekyll, Hugo, Eleventy, Gatsby, and Next.js. SSGs are mostly used projects that don't often change like informative content, such as product pages, news articles, software documentation, and blogs.
    </p>  

    <a href="/what-is-a-website/">What is a website?</a>
</div>
