---
title:        "Anaheim California"
display:      "Website Design Services"
date:         2024-12-03
layout:       'default.njk'
permalink:    /anaheim-california/
description:  Learn About Fullerton Rich History From The Tonga, to the Spanish Explorations, and now Fullerton.
tags:         ["fullerton", "local"]
---

<div class="mac" style="padding:50px 25px;">
    <h1>Anaheim, California</h1>
    <p class="mb-50" style="max-width:600px;">
        Anaheim is a city located on the the north side of Orange County in The State of California. In this page I talk a little about the history of Anaheim along with some other relevant information
    </p>
</div>
<div class="mac paa-25">
    
    <h2>How Did Anaheim Get It's Name?</h2>
    
    <p>
        The city of Fullerton was named by brothers George and Edward Amerige, who where grain merchants from Massachusets. Fullerton was named after the president of the Pacific Land and Improvement Company, George Fullerton. The Pacific Land and Improvement Company was a part of a much larger company, Central Pacific Railroad, which was tasked by the government with building out a transcontinental railroad that sought to connect people on both the east and west side of the country. 
    </p>
  
</div>

