<!DOCTYPE html>
<html lang="en">

    {%- include 'head.njk' -%}  

    <body>

        <div id="page-container">

            {%- include 'nav.njk' -%}

            <div id="content-wrap content">
                {{ content  | safe}}
            </div>
           
            {%- include 'footer.njk' -%}  

        </div>

        <script>
            const hamMenu = document.querySelector(".ham-menu");
            const offScreenMenu = document.querySelector(".off-screen-menu");

            hamMenu.addEventListener("click", () => {
            hamMenu.classList.toggle("active");
            offScreenMenu.classList.toggle("active");
            }); 
        </script>
        
    </body>

</html>
