
<!DOCTYPE html>
<html lang="en">

    {%- include 'head.njk' -%}  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">

    <body>

        <div id="page-container">

            {%- include 'nav.njk' -%}

            <div id="content-wrap content">
                {{ content  | safe}}
            </div>
           
            {%- include 'footer.njk' -%}  

        </div>

        <script>
            const hamMenu = document.querySelector(".ham-menu");
            const offScreenMenu = document.querySelector(".off-screen-menu");

            hamMenu.addEventListener("click", () => {
            hamMenu.classList.toggle("active");
            offScreenMenu.classList.toggle("active");
            }); 
        </script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>

        <!-- and it's easy to individually load additional languages -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/go.min.js"></script>

    </body>

</html>
