<footer class=" mac paa-25 ptb-50">
    
    <div class=" flex">
        <div class="footer-social">
            <span class="_12 mb-50 _600"> Website Designer</span>
            <p class="h3 mb-0">Ruben Gutierrez</p>

            <div class="link pd-10">

                <a href="https://www.behance.net/ruben__gutierrez" target="_blank">
                    <img src="\assets\icons\footer-icons\behance.svg" alt="">
                </a>

                 <a href="https://x.com/rubengutierre_z" target="_blank">
                    <img src="\assets\icons\footer-icons\x.svg" alt="">
                </a>

                <a href="https://www.linkedin.com/in/rubengutierrezwebdesign/" target="_blank">
                    <img src="\assets\icons\footer-icons\linkedin.svg" alt="">
                </a>

                   <a href="https://www.facebook.com/profile.php?id=61553869237234" target="_blank">
                    <img src="\assets\icons\footer-icons\facebook.svg" alt="">
                </a>

             
            </div>
        </div>

        <div class="footer-menu " style="width:200px;">
            <h5 class="h4">Menu</h5>
            <a class="_14" href="/">Home</a> <br>
            <a class="_14" href="/blog/">Blog</a> <br>
            <a class="_14" href="/contact/">Contact</a> <br>
            <a class="_14" href="/websites/">Websites</a> <br>
            <a class="_14" href="/local/">SEO</a> <br>
            <a class="_14" href="/figma-templates/">Templates</a> <br>
        </div>
    </div>
</footer>
