<div class="post text-center pd-100">
    <span class="_12 _600">Author</span>
    <h3>Ruben Gutierrez</h3>
    <p class="_12">Hello My name is Ruben Gutierrez</p>
    <div class="link pd-10">
        <a class="_12" href="#">Dribbble</a>
        <a class="_12" href="#">Behance</a>
        <a class="_12" href="#">Twitter</a>
    </div>
</div>