<footer class="container mb-50 paa-25 flex" style="background:white;height:250px;">
    <div class="footer-social">
        <span class="_12 _600">Author</span>
    <h3>Ruben Gutierrez</h3>
    <p class="_12">Hello My name is Ruben Gutierrez</p>
    <div class="link pd-10">
        <a class="_12" href="https://dribbble.com/ruben_gutierrez" target="_blank">Dribbble</a>
        <a class="_12" href="https://www.behance.net/ruben__gutierrez" target="_blank">Behance</a>
        <a class="_12" href="https://x.com/rubengutierre_z" target="_blank">Twitter</a>
    </div>
    </div>

    <div class="footer-menu" style="width:200px;">
        <h5 class="h4">Menu</h5>
        <a href="/">Home</a> <br>
        <a href="/blog/">Blog</a> <br>
        <a href="/contact/">Contact</a> <br>
        <a href="/local/">Local SEO</a>

    </div>
</footer>
