<!DOCTYPE html>
<html lang="en">
    {%- include 'head.njk' -%}
<body>

    {%- include 'nav.njk' -%}

    <!-- Container -->
    <div class="container mtb-100 j-flex">
        
        <!-- Post Container -->
        <div class="inner-container  border-box paa-25" style="width:100%;max-width:800px;background:White;">
            
            <!-- Post Information Container -->
            <div class="inner-container mb-50">    

                <!-- Date -->
                <p class="_10 _600">{{ page.date | postDate }}</p>
                <!-- Title -->
                <h1 class="" style="font-size:36px;">{{title}}</h1>

            </div>

            <!-- Content Container -->
            <div class="mtb-50">
                <!-- Content -->
                {{ content  | safe}}
            </div>
      
        </div>
            
        {# Related Posts #}
        <div class="inner-cont  mt-50" style="max-width:275px;">
            
            {# Recent Posts #}
            <div class="recent ">
                <h2 class="h3 _600">La Habra Website Services</h2>

                {% for post in collections.los_angeles | reverse %}
                    {% if loop.index0 < 6 %}

                            <article class="paa-25 mb-25" style="background:white;">

                                <div class="" style="">
                                    <a href="{{post.url}}" style="text-decoration:none;" class="_600">{{post.data.title }}</a>
                                </div>

                            </article>

                        {% endif %}
                    {% endfor %}
                </div>
        </div>
    </div>
            {%- include 'footer.njk' -%}


</body>
</html>