<!DOCTYPE html>
<html lang="en">
    {%- include 'head.njk' -%}
<body>

    {%- include 'nav.njk' -%}

    <!-- Container -->
    <div class="postop mtb-25">
        
        <!-- Post Container -->
        <div class="border-box paa-25" >
            
            <!-- Post Information Container -->
            <div class="post mb-50">    

                <!-- Date -->
                <div style="text-align: center;">
                    <span class="_10 _700" style="margin: 0 auto;">{{ page.date | postDate }}</span>
                </div>
                <!-- Title -->
                <h1 style="text-align:center;">{{title}}</h1>

            </div>

            <!-- Content Container -->
            <div class="mtb-50">
                <!-- Content -->
                {{ content  | safe}}
            </div>
      
        </div>
            
    </div>

    {# Related Posts #}
        <div class="mac mt-50">
            <h4 class=" _600 h3 paa-25">Recent Posts</h4>

            {# Recent Posts #}
            <div class="recent flex paa-25">

                {% for post in collections.posts | reverse %}
                    {% if loop.index0 < 3 %}
                        <article class=" mb-25 " style="background:white;max-width: 30%;height:200px;">

                            <div class="" style="">
                                <a href="{{post.url}}" style="text-decoration:none;"><h3 class="h4 _800">{{post.data.title }}</h3></a>
                                <p class="_12">{{post.data.description | truncate(100)}}</p>   
                            </div>

                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        
        {%- include 'footer.njk' -%}


</body>
</html>