<!DOCTYPE html>
<html lang="en">
    {%- include 'head.njk' -%}
<body>

    {%- include 'nav.njk' -%}

    

    <!-- Container -->
    <div class="mtb-25">
        
        <!-- Post Container -->
        <div class="post border-box paa-25">
            
            <!-- Post Information Container -->
            <div class=" mb-50">    

               <img src="{{ post.data.thumbnail }}" alt="">
                 <!-- Date -->
                <span class="_10 _700 mb-0">{{ page.date | postDate }}</span>
                <!-- Title -->
                <h1>{{title}}</h1>

            </div>

            <!-- Content Container -->
            <div class="mtb-50">
                <!-- Content -->
                {{ content  | safe}}
            </div>
      
        </div>
            
    </div>

    {# Related Posts #}
        <div class="mac mt-50">
            <h4 class=" _600">Recent Posts</h4>

            {# Recent Posts #}
            <div class="recent flex paa-25">

                {% for post in collections.posts | reverse %}
                    {% if loop.index0 < 3 %}

                            <article class=" mb-25 " style="background:white;max-width: 30%;height:200px;">

                                <div class="" style="">
                                    <a href="{{post.url}}" style="text-decoration:none;"><h3 class="h5 _800">{{post.data.title }}</h3></a>
                                    <p class="_12">{{post.data.description | truncate(100)}}</p>   
                                </div>

                            </article>

                        {% endif %}
                    {% endfor %}
                </div>
        </div>
        
        
        {%- include 'footer.njk' -%}


</body>
</html>