<!DOCTYPE html>
<html lang="en">
    {%- include 'head.njk' -%}
<body>

    {%- include 'nav.njk' -%}

    <!-- Container -->
    <div class="container mtb-100 flex">
        
        <!-- Post Container -->
        <div class="inner-container post border-box paa-25" style="max-width:1000px;background:White;">
            
            <!-- Post Information Container -->
            <div class="inner-container mb-100">    

                <!-- Title -->
                <h1>{{title}}</h1>

                 <!-- Date -->
                <p class="_10 _600">{{ page.date | postDate }}</p>

            </div>

            <!-- Content Container -->
            <div class="mtb-50"style="max-width: 760px;">
                <!-- Content -->
                {{ content  | safe}}
            </div>
      
        </div>
            
        {# Related Posts #}
        <div class="inner-cont  mt-50" style="max-width:275px;">
            
            {# Recent Posts #}
            <div class="recent ">
                <h2 class="h3 _600">Recent Posts</h2>

                {% for post in collections.posts | reverse %}
                    {% if loop.index0 < 3 %}

                            <article class="paa-25 mb-25" style="background:white;">

                                <div class="" style="">
                                    <a href="{{post.url}}" style="text-decoration:none;"><h3 class="h5 _800">{{post.data.title }}</h3></a>
                                    <p class="_12">{{post.data.description | truncate(100)}}</p>   
                                </div>

                            </article>

                        {% endif %}
                    {% endfor %}
                </div>
        </div>
    </div>
            {%- include 'footer.njk' -%}


</body>
</html>