---
title: WordPress Website Packages 
layout: 'default.njk'
permalink: /wordpress-website-packages/
description: "Welcome to the blog of Ruben Gutierrez, Website Designer & Developer. Check out my current project, along with insights into my design and development processes"
---

<div class="mac animated">
    <div class="mw-50 " style="padding:100px 25px">
        <h1 class="">Get A WordPress Website</h1>
        <p>Are you looking to get a WordPress Website? Check out these WordPress Website packages.</p>
        <a href="/contact" class="btn" style="text-decoration:none!important;">Let's Talk</a>
    </div>
</div>

<hr>    

<div class="  paa-25" style="background:#151414;">

    <div class="" style="margin:0 auto;text-align:center;padding:50px 25px;color:#fff;">
        <h2>WordPress Websites</h2>
    </div>

   <div class="wp-packages mac flex" style="padding:50px 0;color:#fff;">

     <div class="mw-30 mb-10">
        <h3>Basic Package</h3>

        <div class="h2">
            <span class="_10">$</span>299<span class="_10">.99</span>
        </div>

        <strong class="_12">Features:</strong>

        <div class="" style="padding:50px;text-align:left;">
            <p>Free Domain + Free Hosting</p>
            <p>1 - 5 Custom Pages</p>
            <p>Website Tutoring</p>
        </div>

        <a class="btn" style="background:#0A6AFA;text-decoration:none!important;">Select</a>
    </div>

     <div class="mw-30 mb-10">
        <h3>Plus Package</h3>
        <div class="h2 br">
            <div class="h2">
                <span class="_10">$</span>299<span class="_10">.99</span>
            </div>
        </div>
        <strong class="_12">Features:</strong>
        <div class="" style="padding:50px;text-align:left;">
             <p>Free Domain + Free Hosting</p>
            <p>6 - 20 Custom Pages</p>
            <p>Website Tutoring</p>
        </div>
        <a class="btn" style="background:#0A6AFA;text-decoration:none!important;">Select</a>

    </div>

     <div class="mw-30">
        <h3>Pro Package</h3>
        <div class="h2">$499.99 - $1000.00</div>
        <strong class="_12">Features:</strong>
        <div class="" style="padding:50px;text-align:left;">
            <p>Free Domain + Free Hosting</p>
            <p>~+20 Custom Pages</p>
            <p>Website Tutoring</p>
        </div>
        <a class="btn" style="background:#0A6AFA;text-decoration:none!important;">Select</a>

    </div>

   </div>
</div>
