---
title: wordpress-landing
layout: 'default.njk'
permalink: /wordpress-website-packages/
description: "Welcome to the blog of Ruben Gutierrez, Website Designer & Developer. Check out my current project, along with insights into my design and development processes"
---

<div class=" mac paa-25 br animated">
    <div class="mw-50 br" style="height:200px;">
        <h1 class="h2">Get A WordPress Website</h1>
        <p>WordPress Website Packages Starting From $199</p>
        <a href="/contact" class="btn" style="text-decoration:none!important;">Let's Talk</a>
    </div>
</div>

<hr>    

<div class="mac br paa-25">

    <h2>WordPress Websites</h2>
   <div class="flex">
     <div class="br" style="width:300px;height:400px;">
        <h3>Basic Package</h3>
        <strong>Features:</strong>
        <p>Free Custom Domain & Hosting</p>
        <p>1 - 5 Custom Pages</p>
        <p>Website Tutoring</p>
    </div>
    <div class="br" style="width:300px;">
        <h3>Plus Package</h3>
                <strong>Features:</strong>
        <p>Free Custom Domain & Hosting</p>
        <p>1 - 5 Custom Pages</p>
        <p>Website Tutoring</p>
    </div>
    <div class="br" style="width:300px;">
        <h3>Pro Package</h3>
        <strong>Features:</strong>

        <p>Free Custom Domain & Hosting</p>
        <p>1 - 5 Custom Pages</p>
        <p>Website Tutoring</p>
    </div>
   </div>
</div>
