---
title:       Tools
layout:      'default.njk'
date:        2024-12-01
permalink:   /tools/
tags:        tool
description: A Website Calculator to help you estimate the price of a website.
---

<div class="cont pd-50">
    <h1>
        Tools
    </h1>

    <h2>Website Pricing </h2>
    <p>Have you ever woundered how much a website design cost?</p>
    <a class="btn"href="/calculator/">Get A Quote</a>


    <h2>Website Pricing </h2>
    <p>Have you ever woundered many calories you need per day to work.</p>
    <a class="btn"href="/calculator/">Calorie Calculator</a>
</div>