---
title:       Website Pricing Calculator
layout:      'default.njk'
date:        2024-12-01
permalink:   /website-pricing-calculator/
tags:        tool
description: A pricing tool to help you get a quote for your upcoming website project.
---
<style>
#myForm label {
  margin: 0 auto;
  text-align: center;
}

#myForm ul li  {
  display: flex;
  width: 100px;
  height: 100px;
  flex-direction: column;
}
#myForm ul   {
  display: flex;
}

#myForm ul li span  {
  text-align:center;
  font-weight: 600;
}
</style>

<div class="cont mt-50">
    
    <div class="paa-30 text-center mb-50">
        <h1 class="largest-title">Website Pricing Calculator</h1>
        <p>Have you ever asked yourself how much a website should cost? Well here I've compiled a few questions to help you guage how much a website should cost based on research.</p>
    </div>
   
    <div class="back-grey-light br" style="max-width:600px;">

      <form class="j-flex flex-wrap" id="myForm" name="myForm">

          <!-- Pages? -->
          <div class="mw-50 br" style="max-width:300px;">

              <div class="paa-10" style="background:#000;">
                <label class="" style="color:#fff;">Number of Pages?</label>
              </div>

              <ul class="j-flex flex-wrap paa-25">
                <li>
                  <input type='radio' value='300' name='radio' id='3-5'/>
                  <label for='3-5'>                    
                    <img src="/assets/icons/one.svg" alt="">
                  </label>
                  <span class="_12">1 - 9</span>
                </li>

                <li>
                  <input type='radio' value='1000' name='radio' id='10-19'/>
                    <label for='10-19'>
                      <img src="/assets/icons/two.svg" alt="">
                    </label>
                    <span class="_12">10 - 19</span>
                </li>
                
                <li>
                  <input type='radio' value='2000' name='radio' id='20+'/>
                  <label for='20+'>                       
                    <img src="/assets/icons/three.svg" alt="">
                  </label>
                  <span class="_12">+20</span>
                </li>
              </ul>

          </div>

          <!-- CMS -->
          <div class="br mw-50" style="max-width:300px;">

            <div class="paa-10" style="background:#000;">
              <label class="" style="color:#fff;">Number of Pages?</label>
            </div>

            <ul class="j-flex paa-25">
              <li>
                <input type='radio' value='200' name='cms' id='cms-yes'/>
                <label for='cms-yes'>

                              
                  <img src="/assets/icons/html-css-js.svg" alt="">

                </label>

                 <span class="_14">No</span>
              </li>

              <li>
                <input type='radio' value='0' name='cms' id='cms-no'/>
                <label for='cms-no'>
                  <img src="/assets/icons/cms.svg" alt="">
                </label>
                <span class="_14">Yes</span>
              </li>

            </ul>

          </div>

          <!-- Design-->
          <div class="br mw-50" style="max-width:300px;">

            <div class="paa-10" style="background:#000;">
              <label class="" style="color:#fff;">Level of Design?</label>
            </div>
            <br>
            <ul class="j-flex flex-wrap paa-25">
              <li>
                <input type='radio' value='300' name='design' id='basic'/>
                <label for='basic'>
                  <img src="/assets/icons/phone.svg" alt="">

                </label>
                <span class="_12">Basic</span>
              </li>
              <li>
                <input type='radio' value='750' name='design' id='templates'/>
                <label for='templates'>
                  <img src="/assets/icons/responsive-design.svg" alt="">
                </label>
                <span class="_12">Templates</span>
              </li>
            </ul>
          </div>

          <!-- Responsive -->
          <div class="br mw-50" style="max-width:300px;">

            <div class="paa-10" style="background:#000;">
              <label class="" style="color:#fff;">Responsive Design</label>
            </div>

            <br>
            <ul>
              <li>
                <input type='radio' value='0'name='responsive' id='responsive-yes'/>
                <label for='responsive-yes'>
                                    <img src="/assets/icons/simple-design.svg" alt="">
                </label>
                <span class="_14">Simple</span>
              </li>
              <li>
                <input type='radio' value='500' name='responsive' id='responsive-no'/>
                <label for='responsive-no'>
                  <img src="/assets/icons/complex-design.svg" alt="">
                </label>
                <span class="_14">Comprehensive</span>
              </li>
            </ul>
          </div>

      </form>
        
      <div class="br mtb-50 mw-45">
        <div class="paa-10" style="background:#000;">
          <h4 class="" style="color:#fff;text-align:center;font-weight:600;">TOTAL</h4>
        </div>

        <div>
          <p class="br" style="width:200px;height:80px;"><span id="total" style="height:120px;font-size:40px;" class="paa-25"></span></p>
          <button onclick="getValues()" style="height:50px;">Get Values</button>
        </div>

      </div>

  </div>
</div>



<script>
    function getValues() {
    let myForm = document.getElementById('myForm');
    let formData = new FormData(myForm);
    let total = 0;
    for (var value of formData.values()) {
        total += parseInt(value);
    }
    document.getElementById("total").innerHTML = total;
    console.log(total);}
</script>