---
title: About
layout: 'default.njk'
permalink: /about/
description: "Welcome to the blog of Ruben Gutierrez, Website Designer & Developer. Check out my current project, along with insights into my design and development processes"
---

<div class="mac " style="padding:0 25px;height:550px;">
    <h1>About</h1>
    <p>Hello, my name is Ruben Gutierrez & I am a website designer in the Orange County, California Area.</p>
    <p>I've been working with computers since I was a kid and I enjoy helping others solve problems using technology.</p>

    <h2>How I Got Started</h2>
    <p>
        My journey with technology started when I was around 10 years old and I received my first computer for Christmas.
    </p>
    <p>When I wasn't taking it apart and putting it back together I was researching different ways to make the software run as smooth as possible.</p>
</div>