---
title: Ruben Gutierrez - Website Designer
layout: 'default.njk'
permalink: /about/
description: Hello, I'm Ruben Gutierrez A Website Designer.
---

<!-- About Title -->
<div class="paa-20 pd-100" >
    <div class="cont">

        <h1>
            Ruben Gutierrez: Website Designer
        </h1>

        <div class="flex">
            <p class="mw-75 mb-10">
            Hello! my name is Ruben Gutierrez and I'm a website designer in the greater Los Angeles, California area.
            </p>
            <p class="mw-50 mb-10"></p>
        </div> 

        <div>
            <p class="mb-10"><strong>Email:</strong> rubengutierrezwebdesign@gmail.com</p> 
            <p><strong>Phone:</strong>(562) 475 - 8959</p> 

        </div>
        
        <div class="links">
            <a href="https://www.behance.net/ruben__gutierrez">Behance</a>
            <a href="https://dribbble.com/ruben_gutierrez">Dribbble</a>
            <a href="https://x.com/rubengutierre_z">Twitter</a>
        </div>
            
    </div>
</div>

<!-- Skills -->
<div class="paa-20 back-grey pd-100">
    <div class="cont">
        
        <!-- Skills Title -->
        <div class="">
            <h2 class="_600">A Little About Me</h2> 
            <p class="mw-500">Hello, I'm Ruben and I've been buidling websites for a few years now. I started working with computers when I was </p>
        </div>

         <!-- Skills -->
        <div class="back-grey">

            <div class="flex flex-wrap">
            <!-- Website Development -->
                <div class="mw-50 pr-30">
                    <h3 class="_600">Website Development</h3>
                    <p>Theirs thousands of ways to build a website and I'm very familiar with a lot of them. With that being said I'm very familiar with the fundamentals (HTML,CSS, & JavaScript) and I also work with diffrent tools like. Static Site Generators.</p>
                </div>
            
                <!-- Website Design -->
                <div class="mw-50 pr-30">
                    <h3>Website Design</h3>
                    <p>
                        A websites content is the most essential component but the way your website looks can make the diffrence. With a great deal of pride and patience I take website that people have been building ontop of for a while and make them more uniform and presentable.
                    </p>
                </div>
            
                <!-- Image Modification Photoshop -->
                <div class="mw-50 pr-30">
                    <h3>Images & Illustrations</h3>
                    <p>
                        Images and illustrations are essential for anyone looking to get some attention online, with the proper input I can help bring your products, services, and ideas to life. Using design tools like Photoshop and Illustrator I help the people I work with to convey the exact message and feeling they want they're customer to get.
                    </p>
                </div>
            
                <!-- Graphic & Logo Creaiton -->
                <div class="mw-50 pr-30">
                    <h3>Wilingsness & Dedication</h3>
                    <p>I can create vector art and modify existing ones using vector based software like Adobe Illustrator and Inkscape</p>
                </div> 
            </div>
        </div> 

    </div>
</div>



 <!-- Skills -->
<div class="paa-20 pd-50">

        <div class="cont flex flex-wrap">
        <!-- Website Development -->
          
        
           
        
        </div>


</div> 


