---
title:       Ruben Gutierrez - Website Designer
layout:      'default.njk'
date:        2024-12-03
permalink:   /about/
description: Hello, I'm Ruben Gutierrez A Website Designer.
---
<!-- About Title -->
<div class=" pd-100" >
    <div class="cont">

        <h1>
            <span class="_20">Website Designer</span> <br>
            Ruben Gutierrez
        </h1>

        <div class="flex">
            <p class="mw-500">
                Hello! My name is Ruben Gutierrez and I'm a freelace website designer in La Habra, California. I've been building website for a few years now and I enjoy helping people figure out problems.
            </p>
            <p class="mw-50"></p>
        </div> 

      
    </div>
</div>

<!-- Skills -->
<div class="back-grey pd-100">
    <div class="cont">
        
        <div class="flex">
            <!-- Skills Title -->
            <div class="mb-50">
                <h2 class="h1">What I Can Do</h2> 
                <p class=" large-copy mw-75">These are some of the skills I've developed over time sitting infront of a computer for hours.</p>
            </div>

            <!-- Skills -->
            <div class="back-grey" style="max-width:600px;">

                <div class="flex flex-wrap">
                <!-- Website Development -->
                    <div class="mw-50 pr-30">
                        <h3 class="_20">Website Development</h3>
                        <p class="_14">I'm familiar with tools like WordPress, Static Site Generators, Databases, JavaScript, HTML, CSS, </p>
                    </div>
                
                    <!-- Website Design -->
                    <div class="mw-50 pr-30">
                        <h3 class="_20">Website Design</h3>
                    <p class="_14">
                            Using Programs Like Figma and Adobe XD I can create unique website designs that help people stand out. 
                        </p>
                    </div>
                
                    <!-- Image Modification Photoshop -->
                    <div class="mw-50 pr-30">
                        <h3 class="_20">Images & Illustrations</h3>
                        <p class="_14">
                            Images and illustrations are essential for anyone looking to get some attention online, with the proper input I can help bring your products, services, and ideas to life. Using design tools like Photoshop and Illustrator I help the people I work with to convey the exact message and feeling they want they're customer to get.
                        </p>
                    </div>
                
                    <!-- Graphic & Logo Creaiton -->
                    <div class="mw-50 pr-30">
                        <h3 class="_18">Wilingsness & Dedication</h3>
                        <p class="_14">I can create vector art and modify existing ones using vector based software like Adobe Illustrator and Inkscape</p>
                    </div> 
                </div>
            </div> 
        </div>

        <div>
        
            <!-- Resources -->
            <div class=" pd-100">
                <h2>Design Resources</h2>
                <p class="large-copy">Feel Free to Use Any of these Design Resources</p>
                
                <div class="flex flex-wrap" style="max-width:600px;">

                    <div class="mw-50 pr-30 mb-20" style="max-width:300px;">
                        <h3 class="_20">Figma Templates</h3>
                        <p class="_14">
                            When I'm not building projects I'm making website/applicaiton designs. Check out these templates I made in Figma.
                        </p>
                        <div>
                            <a href="/figma-templates/" class="btn">Figma Templates</a>
                        </div>
                    </div>

                    <div class="mw-50 pr-30 mb-20"  style="max-width:300px;">
                        <h3 class="_20">Some HTML Templates I Made</h3>
                        <p class="_14">
                            Check out some of these HTML templates I made. Follow this link. More words for layout purposes.
                        </p>
                        <a href="/html-templates/" class="btn">HTML Templates</a>
                    </div>

                    <div class="mw-50 pr-30" style="max-width:300px;">
                        <h3 class="_20">Tools I've Made</h3>
                        <p class="_14">
                            Check out some of these HTML templates I made. Follow this link. More words for layout purposes.
                        </p>
                        <a href="/tools/" class="btn">See Tools</a>
                    </div>

                </div>
            </div> 
        </div>

    </div>
</div>






<footer class="cont pd-100">
    <h3>Contact Information</h3>
           <div class="j-flex">
            <p class="mb-10 _16 mr-20"><strong>Email:</strong> rubengutierrezwebdesign@gmail.com</p> 
            <p class="_16"><strong>Phone:</strong>(562) 475 - 8959</p> 

        </div>

        <style>
            .social-links a {border:1px solid black;
            text-decoration:none!important;padding:2.5px 5px;

            }
        </style>
        
        <div class="social-links">
            <a class="_12"href="https://www.behance.net/ruben__gutierrez">Behance</a>
            <a class="_12" href="https://dribbble.com/ruben_gutierrez">Dribbble</a>
            <a class="_12"href="https://x.com/rubengutierre_z">Twitter</a>
        </div>

        <br>
        <a href="/local/">SEO</a>
            
</footer>