---
title: Blog
layout: 'default.njk'
permalink: /blog/
description: "Welcome to the blog of Ruben Gutierrez, Website Designer & Developer. Check out my current project, along with insights into my design and development processes"
---

<style>
.main {
  display:flex;
  align-items: center;
  padding-right: 50px;
}
</style>

<div class="cont mtb-100" style="max-width:65%;">
    {% for post in collections.current_post | reverse %}
        {% if loop.index0 < 1 %}
            <div class="mb-25" style="width:100%;">
                <img src="{{post.data.thumbnail}}" alt="">
            </div>
            
            <div class=" mb-20 main" style="max-width:65%;">   
                <div class="">
                    <a href="{{post.url}}" style="text-decoration:none;">
                        <h1 class="mb-25">{{post.data.title}}</h1>
                    </a>
                    <p class="">{{post.data.description}}</p>   
                    <a href="{{post.url}}" class="btn">Read More ></a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

<hr>

<div class="cont mtb-50">

    <div class=" flex flex-wrap">

    {% for post in collections.posts | reverse %}
        {% if loop.index0 < 4 %}

            <li class="mw-30 mtb-25">
                <article class="">

                    <div class="" style="">
                        <img src="{{post.data.thumbnail}}" alt="" >
                    </div>

                    <div class="" style="">
                        <a href="{{post.url}}" style="text-decoration:none;"><h2 class="">{{post.data.title}}</h2></a>
                        <p class="_16">{{post.data.description}}</p>   
                    </div>

                </article>
            </li>

        {% endif %}
    {% endfor %}
</div>

</div>
