---
title: Blog
layout: 'default.njk'
permalink: /blog/
description: "Welcome to the blog of Ruben Gutierrez, Website Designer & Developer. Check out my current project, along with insights into my design and development processes"
---



<div class="cont">

    <div class="mtb-25" style="max-width:400px;">

    <div class="todays-post">
        {% for post in collections.current_post | reverse %}
            {% if loop.index0 < 1 %}
                <div class=" mb-10 post">   
                    <div class="">
                            <!-- Total Container -->
                            {{date}}
                        <a href="{{post.url}}" style="text-decoration:none;">
                            <h2 class="mb-25">{{post.data.title}}</h2>
                        </a>
                        
                        <div class="mb-25" style="width:100%;">
                            <img src="{{post.data.thumbnail}}" alt="">
                        </div>
                        <p class="_14">{{post.data.description}}</p>   
                        <a href="{{post.url}}" class="btn">Read More ></a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="">

        <div class="flex flex-wrap">

            {% for post in collections.posts | reverse %}
                {% if loop.index0 < 4 %}

                    <li class="mw-45 maa-10">
                        <article class="">

                            <div class="" style="">
                                <img src="{{post.data.thumbnail}}" alt="" >
                            </div>

                            <div class="" style="">
                                <a href="{{post.url}}" style="text-decoration:none;">
                                    <h3>{{post.data.title}}</h3>
                                    {{ page.date | postDate }}

                                </a>
                                
                                <p class="_14">{{post.data.description}}</p>   
                            </div>

                        </article>
                    </li>

                {% endif %}
            {% endfor %}
        </div>

    </div>
</div>
</div>


