---
title: Contact - Let's Talk
layout: 'default.njk'
permalink: /contact/
description: "Welcome to the blog of Ruben Gutierrez, Website Designer & Developer. Check out my current project, along with insights into my design and development processes"
---

<div class="cont">

    <div class="pd-50">
        <h1 class="">Let's Talk!</h1>
        <p>Are you thinkig of making a website for you or your business?</p>
        <p>Let's talk!</p>
        <h2>Contact Information</h2>
        <p>Email: rubengutierrezwebdesign@gmail.com</p>
        <p>Phone: (562) 475 - 8959</p>
    </div>

    <input type="text">
        <input type="text">
    <input type="text">
    <br>
    <br>
    <a href="" class="btn">Submit</a>
</div>