---
title: Directory
layout: 'default.njk'
permalink: /dir/
description: Directory
---

<div class="paa-30">
    <div class="cont">
            <h1>Are you looking for website services in the La Habra, California Area.</h1>
            <p>Below You'll find some way that I can help you.</p>
    </div>
    <div class="cont"><h2>La Habra Web Design Services</h2></div>
    
    <div class="cont"><h2>Blog posts</h2></div>
     <div class="cont br flex flex-wrap">
        {% for post in collections.posts | reverse %}
                <li class="br  mw-100 paa-20" style="list-style-type:none!important;box-sizing:border-box;">
                    <a href="{{post.url}}"><h4 class="">{{post.data.title}}</h3></a>
                </li>
        {% endfor %}
    </div>

    <div class="cont"><h2>Figma</h2></div>
     <div class="cont br flex flex-wrap">
        {% for post in collections.figma | reverse %}
                <li class="br  mw-100 paa-20" style="list-style-type:none!important;box-sizing:border-box;">
                    <a href="{{post.url}}"><h4 class="">{{post.data.title}}</h3></a>
                </li>
        {% endfor %}
    </div>

    <div class="cont"><h2>Blog posts</h2></div>
     <div class="cont br flex flex-wrap">
        {% for post in collections.seodev | reverse %}
                <li class="br  mw-100 paa-20" style="list-style-type:none!important;box-sizing:border-box;">
                    <a href="{{post.url}}"><h4 class="">{{post.data.title}}</h4></a>
                </li>
        {% endfor %}
    </div>

    <div class="cont"><h2>Blog posts</h2></div>
     <div class="cont br flex flex-wrap">
        {% for post in collections.tutorials | reverse %}
                <li class="br  mw-100 paa-20" style="list-style-type:none!important;box-sizing:border-box;">
                    <a href="{{post.url}}"><h4 class="">{{post.data.title}}</h4></a>
                </li>
        {% endfor %}
    </div>
     

<div