---
layout: 'default.njk'
title:  "Directory"
date:        2024-12-03
permalink: /directory/
---
<div class="container mb-100">

    <div class="pd-50 back-white paa-50">
        <h1>Local SEO Directory</h1>
        <p>Directory for local pages in North Orange County.</p>
                <a href="/local">Local SEO</a>
    </div>

     <div class="pd-50 back-white paa-50">
        <h1>Local SEO Directory</h1>
        <p>Directory for local pages in North Orange County.</p>
                <a href="/local">Local SEO</a>
    </div>
    
</div>