---
title: Donate
layout: 'default.njk'
permalink: /donate/
description: "none"
---
<div class="" style="padding:0 150px;height:500px;">
    
    <div class="mac " style="padding:50px 0;">
        <h1 class="h1">Donate</h1>
        <p>I will not accept anything less than this.
            Jk give whatever you can there's a button
        </p>
    </div>


    <div class="mac"> 
       <stripe-buy-button
  buy-button-id="buy_btn_1SgWrhB9b2bae4MWmykIDga3"
  publishable-key="pk_live_51QKSPYB9b2bae4MW8PZ8raQ5oG8AAcoje0nm9swcC3QL7oG4JvXbRljglwDmWYAA06TxCYb5Bhs8mfS4mCtj58Rm00cRUlm22K"
>
</stripe-buy-button>
    </div>

</div>

<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>
