body {font-family: "SUSE", sans-serif;}
// Headings Sizing      // Laptop                                  // Desktop
h1 {font-size:1.750em;  @media(min-width:$lt){font-size:2.25em;}; @media(min-width:$dt){font-size:2.750em;}}
h2 {font-size:1.250em;  @media(min-width:$lt){font-size:1.375em;};}
h3 {font-size:1.125em;  @media(min-width:$lt){font-size:1.250;}}

// Custom Fonts
._10 {font-size: .625em;}
._12 {font-size: .7500em;}
._14 {font-size: .8750em;}
._16 {font-size: 1.000em;}
._18 {font-size: 1.125em;  @media(min-width:$lt){font-size:1.250em;}}
._20 {font-size: 1.250em;  @media(min-width:$lt){font-size:1.375em;}}
._24 {font-size: 1.500em;  @media(min-width:$lt){font-size:1.750em;}}
._28 {font-size: 1.750em;  @media(min-width:$lt){font-size:2.000em;}}
._32 {font-size: 2.000em;  @media(min-width:$lt){font-size:2.250em;}}
._40 {font-size: 2.500em;  @media(min-width:$lt){font-size:3.000em;}}
._48 {font-size: 3.000em;  @media(min-width:$lt){font-size:3.250em;}}

._500 {font-weight: 500;}
._600 {font-weight: 600;}
._700 {font-weight: 700;}

// Headers Styling
h1,h2 {font-weight: 500;margin-bottom:20px;line-height: 150%;}
h3,h4 {font-weight: 500;margin-bottom:20px;}

// Paragraph 
p {font-size:1em;line-height:160%;margin-bottom:12.5px;color:rgb(42, 41, 41);}