---
title:       How To Get Your Website On Google
layout:      'default.njk'
date:         2024-12-05
permalink:   /seo/
tags:        seo
description: Getting your website on Google is not as hard as you think, learn how to do it.
---

<div class="mac" style="padding:0 25px;">
    <h2>Search Engine Optimization</h2>
    <p>Learn More about search engine optimization for your website</p>
    <p><a href="/how-to-get-your-website-on-google/">How To Get On Google</a></p>
    <p><a href=" /what-is-google-search-console/">What is Google Search Console</a></p>
    <p><a href="/what-is-a-sitemap/">What is a sitemap></a></p>

</div>