---
layout: 'default.njk'
title: What is a static site generator.
permalink: /what-is-static-site-generator/
date:         2024-12-05
tags: websites
description: Learn what a website is and how it can help you.
---
<div class="paa-30">
    <div class="cont pd-100">
        <h1>What Is A Static Site Genrator?</h1>
        <p class="mw-500">
            A static site generator is a tool 
        </p>  
    </div>
</div>
