---
title:       Website Pricing Calculator
layout:      'default.njk'
date:        Last Modified
permalink:   /calculator/
description: A Website Calculator to help you estimate the price of a website.
tags:        tool
---


<div class="cont mb-100 pd-50">
    
    <div class=" pd-50">
        <h1>How much should a website cost?
        </h1>
        <p class="_16 mb-25 mw-50">Have you ever asked yourself how much a website should cost? Well here I've compiled a few questions to help you guage how much a website should cost based on research.</p>
    </div>

   
    <div class="">
      <form class="flex flex-wrap" id="myForm" name="myForm">
          <!-- Amoutn of Page -->
          <div class="paa-20 br pd-50 mw-50">
            <label class="_20 _600">Number of Pages?</label>
            <p class="_14">
              How many pages is your website going to need? If you don't just estimate.
            </p>
            <br>
            <ul>
              <li>
                <input type='radio' value='300' name='radio' id='3-5'/>
                <label for='3-5'>1 - 9</label>
              </li>
              <li>
                <input type='radio' value='1000' name='radio' id='10-19'/>
                <label for='10-19'>10 - 19</label>
              </li>
              <li>
                <input type='radio' value='2000' name='radio' id='20+'/>
                <label for='20+'>20+</label>
              </li>
            </ul>
          </div>
          <!-- CMS Platform -->
          <div class="paa-10 br paa-20 pd-50 mw-50">
            <label class="_20 _600">Content Management System?</label>
            <p class="_14">
              Will you be using a content managment system?
            </p>
            <br>
            <ul>
              <li>
                <input type='radio' value='200' name='cms' id='cms-yes'/>
                <label for='cms-yes'>Yes</label>
              </li>
              <li>
                <input type='radio' value='0' name='cms' id='cms-no'/>
                <label for='cms-no'>No</label>
              </li>
            </ul>
          </div>
          <!-- Level of Design -->
          <div class="paa-20 br pd-50 mw-50">
            <label class="_20 _600">Level of Design?</label>
            <p class="_14">
              How many pages is your website going to need? If you don't just estimate.
            </p>
            <br>
            <ul>
              <li>
                <input type='radio' value='300' name='design' id='basic'/>
                <label for='basic'>Baisc</label>
              </li>
              <li>
                <input type='radio' value='750' name='design' id='templates'/>
                <label for='templates'>Templates</label>
              </li>
              <li>
                <input type='radio' value='1500' name='design' id='custom'/>
                <label for='custom'>Custom</label>
              </li>
            </ul>
          </div>
          <!-- Mobile Design -->
          <!-- Amoutn of Page -->
          <div class="paa-10 br paa-20 pd-50 mw-50">
            <label class="_20 _600">Responsive Design</label>
            <p class="_14">
              How many pages is your website going to need? If you don't just estimate.
            </p>
            <br>
            <ul>
              <li>
                <input type='radio' value='0'name='responsive' id='responsive-yes'/>
                <label for='responsive-yes'>Minimal</label>
              </li>
              <li>
                <input type='radio' value='500' name='responsive' id='responsive-no'/>
                <label for='responsive-no'>Fully</label>
              </li>
            </ul>
          </div>

      </form>
        
      <div class="cont br mt-100 mb-50 flex pd-100" style="justify-content: center;">
        <button class="_24 _400"onclick="getValues()">Get Values</button>
        
        <p class="br">Total:<span id="total"></span></p>
      </div>
    </div>

    <div class="cont pd-50">
      <h3>The Amount of Pages?</h3>
      <p>The amount of pages is somehting that you're going to have to consider when your going to invest in a website.</p>
    </div>
    
    <script>
        function getValues() {
        let myForm = document.getElementById('myForm');
        let formData = new FormData(myForm);
        let total = 0;
        for (var value of formData.values()) {
            total += parseInt(value);
        }
        document.getElementById("total").innerHTML = total;
        console.log(total);}
    </script>

</div>