---
layout: 'default.njk'
title:  "Pages"
date:        2024-12-03
permalink: /pages/
---
<div class="container mb-100">

    <div class="mtb-25 back-white paa-50">
        <h1 class="mb-25">Pages</h1>
        <p>Here are some of the things I've made feel free to look around.</p>
    </div>

    <div class="inner-container pd-50 back-white paa-50">
        <h2>Local SEO Directory</h2>
        <p>Directory for local pages in North Orange County.</p>
                <a href="/local">Local SEO</a>
    </div>

    <div class="flex flex-wrap mtb-50">
        {% for post in collections.seo | reverse %}
            {% if loop.index0 < 10 %}
                <div class="mb-20 back-white paa-50">
                    <a href="{{post.url}}"><h3 class="h4">{{post.data.title}}</h3></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</div>