---
title:        "Fullerton California"
display:      "Website Design Services"
date:         2024-12-03
layout:       'default.njk'
permalink:    /fullerton-california/
description:  Learn About Fullerton Rich History From The Tonga, to the Spanish Explorations, and now Fullerton.
tags:         ["fullerton", ""]
---
<div class="container">
    <h1>Fullerton, California</h1>
    <p>Fullerton California is a city towards the north of orange county.</p>
    <p>Fullerton got it's name from George Fullerton Who was the president of the pacific 
        railroad company 
    </p>

    <h2>Early History</h2>
    <p>The earliest Europeans in this area actually crossed through Fullerton on their way
        north from what is now san diego on their way to monterrey. This expedition also known as the Portola expedition.
        Some of the account of the portola expedition have the Spanish Explorers sleeping in what
        is now hill crest park before heading off up to harbor blvd.
    </p>
</div>

