---
layout: 'default.njk'
permalink: /html-landing-page-template/
---

<div class="container paa-25 flex">
    
    <div class="pd-50">
        <h1>HTML Template - Landing Page Template</h1>
    </div>

    <img src="\assets\images\landing-page.png" alt="" style="max-width: 450px;">

</div>

<div class="container">
       <h2>Basic HTML Template</h2>
    <span>
        <strong>Preview:</strong>
        <a href="/html-landing-page-template-preview/"> This HTML Landing Page Template</a>
    </span>

    <p class="mw-50">An HTML landing page template I made about a year ago. Download.</p>

</div>