---
layout: 'default.njk'
title: ""
thumbnail: \pages\projects\html-templates\landing-template\landing-page-template-preview.png"
permalink: /html-landing-page-template/
description: "This is an HTML Landing Page Template. My aim with this project is to offer developers a quick landing page solution for their next website project. Some of the features in this landing page include an animated hero carousel and a contact form powered by FormSpree."
---



<div class="container back-white paa-25 flex mtb-50">
    
    <div class=" paa-50">

        <h1 class="h2">HTML Landing Page Template</h1>
        <p>This is an HTML Landing Page Template</p>
        <a class="btn" href="/html-landing-page-template-preview/">Preview Page</a>

    </div>

    <img src="\pages\projects\html-templates\landing-template\landing-page-template-preview.png" alt="" style="max-width: 600px;">

</div>

<div class="container mtb-50">   
    <div class="mw-50 inner-container back-white paa-50">
        <h2>Landing Page Template Features</h2>
        <p>This is an HTML Landing Page Template. My aim with this project is to offer developers a quick landing page solution for their next website project</p>
        
        <p>Some of the features in this landing page include:
        </p>
        <p>Auto Gallery Slider: This landing page contain an auto slider in the hero section at the top. The auto slider contains 3 slides that are in constantly rotating. 
        </p>
        <p>Formspree Contact Form: Included in this landing page is also a form configured to work with Form spree form. To make this contact form work sign up for a Formspree account and drop your URL into the code and you're done. A free Formspree account gives you 50 free submission a month that you can redirect to your email. 
        </p>
        <h3>Font Family</h3>
        <p>SUSE</p>
    </div>
</div>