---
layout: 'default.njk'
title: How To Get Your Website On Google
permalink: /how-to-get-your-website-on-google/
tags: seodev
description: Getting your website on Google is not as hard as you think, learn how to do it.
---

<div class="cont pd-100">

    <div class="paa-20 mb-20 mw-600" style="background: rgb(255, 240, 156);">
        <h1>How to Get Your Website on Google</h1>

        <p class="mb-25">
            Getting your website in Google's search results is not as hard as you may think. In fact, Google is actually really good at finding and storing websites without ever notifying them, but that's not why you're here.
        </p>

        <p class="mb-25">
            To get your web pages listed in Google as fast as possible you're going to want to familiarize yourself with a tool they offer for this exact purpose called <a href="/what-is-google-search-console/" target="_blank">Google Search Console</a>.
        </p>

    </div>

   <div class="mw-500 paa-20 mb-20" style="background: rgb(255, 240, 156);">
        <h2>Google Search Console Will Ask You to Verify Your Domain</h2>
        <p>
            From their Google will check to see if your domain name is availble to use in their system. Once System they'll provide you with a .TXT file that you'll need to place in the domain name settings of your website. This file has a unique code that Google will be able to detect and veryfiy that the domain you submitted does infact belong to you.
        </p>
   
    </div>

    <div class="mw-500 paa-20" style="background: rgb(255, 240, 156);">
        <h2>Expect To Wait About A Day To Get Verified</h2>
        <p class="mb-25">
            It usually takes a while for the changes to happen. This process can take about a day to complete so be a little bit patient. Once done you can expect to start seeing analytics about how Google is using your website.
        </p>
    </div>
</div>


