---
title:       What is Google Search Console?
layout:      'default.njk'
date:         2024-12-05
permalink:   /what-is-google-search-console/
tags:        seo
description: Getting your website on Google is not as hard as you think, learn how to do it.
---
<div class="mac mtb-50 paa-25">
    <div class="">
        <h1 class="">What is Google Search Console?</h1>

        <p class="mb-25">
            <a href="https://search.google.com/search-console/about" target="_blank">Google Search Console</a> is a tool offered by Google that allows you monitor how your website is being used by Google.
        </p>
    </div>

    <div class="pd-50">
        <div class="mw-700" style="padding:150px 0;">
            <h2>What can Google Search Console help you do?</h2>
            <p class="mb-25">
                Google Search Console gives you the ability to do a lot of tasks that help with your websites' search engine optimization goals.
            </p>
        </div>

        <div class="flex pd-50">
            <div class="mb-20 mw-30">
                <h3 class=" _18">Submit Your Web Pages Directly To Google</h3>
                <p>One of the best features in Google Search Console is the ability to directly submit a request to their que so that their system can send a web crawler over to your website to check for new or edited information. </p>
            </div>
        
            <div class="mw-30">
                <h3 class="_18">See Which Keywords Your Website Is Popping Up For</h3>
                <p>Google search console gives you the ablilty to see which keywords and phrases your website is appearing in their results for. On top of that you also get to see how many times, from what device, and in the positionn those keywords have triggered your website to appear for. </p>
            </div>
        </div>
    </div>
</div>



