.home-intro {animation: fade-up 2s; } 

.block {
    background: #000;
}

.home .hero {
    margin: 150px 0;
    background: white;
    max-width: 400px;
    padding: 10px;
}

.home .hero h1 {
    margin-bottom: 25px;;
}

 .hero h1 span {
    font-size: 14px;
}

.home .about{
    margin: 150px 0;
    background-color: white;
    padding: 10px;
}


.home .about .section {
    padding: 10px;
}

.home-section {
    padding: 50px;
    background-color: white;;
  }
  
  .home-section .projects .project {
    background: white;
    width: 45%;
    margin: 10px;
  }
  
  .projects .project p {
    font-size: 12px;  
  }