.home-intro {animation: fade-up 2s; } 

.block {
    background: #000;
}

.home .hero {
    margin: 150px 0;
    background: white;
    max-width: 400px;
    padding: 10px;
}

.home .hero h1 {
    margin-bottom: 25px;
}

.home .hero h1 {
    margin-bottom: 25px;
    font-size:18px;
}

 .hero h1 span {
    font-size: 14px;
}

.home .about{
    margin: 150px 0;
    background-color: white;
    padding: 10px;
}


.home .about .section {
    padding: 10px;
}

.home-section {
    padding: 25px;
    background-color: white;;
}
  
.home-section .projects .project {
    background: white;
    margin: 10px;
}

/*  */
.home-hero .about {
    width:100%;
}
 @media (min-width: 800px){.home-hero .about {width:50%;}}


@media (min-width: 800px){.home-section .projects .project {width: 45%;}}


.home-buttons {
    flex-direction: column;
}


.home-buttons div {
    background:#eee;
    border-radius:5%;
    padding:10px;
    width: 280px;
    align-items: center;
    margin-bottom: 10px;;
}

.home-buttons div img {
    width:50px;
    border-radius:50%;
}

.home-buttons div a {
    text-decoration: none !important;
}