nav .nav {align-items: center;display: flex;justify-content:space-between;max-width: 1200px !important;margin: 0 auto;padding:15px 25px;}

nav a {font-size:12px;font-weight:500;top:0;text-decoration: none !important;}

.nav .logo img {
    width:85%;
    height:auto;
}
/* Inner Hamburger Container */
.ham-menu {
    height: 35px;
}

/* Display Inner Hamburger Menu at 600px*/
@media(min-width:760){
    .ham-menu {
        display: block;
    }
}

/* Ham Menu Bars */
.ham-menu div {height: 3px;width: 100%;background: #000;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);transition: .3s ease;border-radius: 5px;}

/* Ham Menu Animation */
.ham-menu div:nth-child(1) {top: 20%;}
.ham-menu div:nth-child(3) {top: 80%;}
.ham-menu.active div {background: rgb(0, 0, 0);}
.ham-menu.active div:nth-child(1) {top: 50%; transform: translate(-50%, -50%) rotate(45deg);}
.ham-menu.active div:nth-child(2) {opacity: 0;}
.ham-menu.active div:nth-child(3) {top: 50%; transform: translate(-50%, -50%) rotate(-45deg);}

/* Hides Desktop Links */
.links {display: none;font-size :14px !important;;}

/* Desktop Links */
@media (min-width: 760px){
    .links {
        display: flex;
        justify-content:space-between;
        align-items: center;
        width:310px;
        color: #000;
    }
}

/* Outer Hamburger Container*/
.ham-menu-outer {width: 25px;position: relative;}

/* Hides Outer Hamburger Container at 600px */
@media(min-width:760px){.ham-menu-outer{display: none;}}

/* Off-Screen Menu */
.off-screen-menu {background-color: #ffffff;width:100%;height: 100%;position: fixed;top: 0;right: -100%;transition: .3s ease;z-index: 10000;}
.off-screen-menu ul {padding-top: 30px;display: flex;flex-direction: column;}
.off-screen-menu ul a {padding:10px;color:#000;text-align: center;font-size: 16px;margin-bottom: 30px;}

/* Active Class For Closing Hamburger */
.off-screen-menu.active {right: 0;}

#page-container {position: relative;min-height: 100vh;}
#footer {position: absolute;bottom: 0;padding: 50px 0!important;}

.hide {
    display: none;
}

.myDIV:hover + .hide {
    display: block;
    color: red;
    position: absolute;
}

/* Outer Hamburger Container*/


.footer-social a {text-decoration: none!important;}

