---
layout:      'default.njk'
title:       "Los Angeles, California"
permalink:   /los-angeles-california/
date:        2024-12-03
description: Learn about Los Angeles, California
tags:        local
---

<div class="mac paa-25 mtb-50">

    <h1>Los Angeles, California</h1>
    <p>
        Los Angeles is one of America most important cities and is located in Southern California about 15 miles from the Pacific Ocean.
    </p>

    <h2>What does Los Angeles mean?</h2>
    <p> Los Angeles in spanish translates to "The Angeles"</p>
    <p>
        Los Angeles got it's name from Catholic Spanish Explorers who founded the city in 1781. The cities entire name is <i> "El Pueblo de Nuestra Señora la Reina de los Ángeles del Río Porciúncula"</i>, which translates to "The Town of Our Lady the Queen of the Angels of the River Porciúncula.
    </p>

   <h2>Los Angeles First Peoples</h2>
    <p>
        Some of the first inhabitants to settle and roam the now formally region named Los Angeles are known as The Tongva's. The Tongva, are a Native American people who's living area spanned the LA Basin which covers multiple counties including Los Angeles, San Bernadino, and all of Orange County. Using canoes called "ti’at" The Tongva people have periodically lived on the islands located off the coast of the basin. The islands include Santa Catalina, Santa Cruz, and San Clemente.  which is really impressive when you consider that this little cluster of islands is about 20 to 25 miles from the coast.
    </p>

    <h3>Los Angeles Is One of The Richest Places on Earth</h3>
    <p>Los Angeles is home to of the the most important economies on earth. The L.A. Metropolitan </p>

    <h3>L.A. Is Full of So Many People From All Over The World</h3>
    <p>L.A. is home to 3.7 Million people making it the second most densely populated city in the United States just behind New York.</p>
    <p></p>


</div>

