---
layout:      'default.njk'
title:       "Los Angeles, California"
permalink:   /los-angeles-california/
date:        2024-12-03
description: Learn about Los Angeles, California
tags:        local
---

<div class="container paa-25 mtb-50">

    <h1>Los Angeles, California</h1>
    <p>
        Los Angeles is a city located in Southern California about 15 miles from the coast.
    </p>

    <h2>What does Los Angeles mean?</h2>
    <p> Los Angeles in spanish translates to "The Angeles"</p>
    <p>
        Los Angeles got it's name from Spanish Explorers who's entire name is actually El Pueblo de Nuestra Señora la Reina de los Ángeles del Río Porciúncula", which translates to "The Town of Our Lady the Queen of the Angels of the River Porciúncula.
    </p>

    <h3>What does</h3>


</div>

