---
title:       "Else"
permalink:   /else/
layout:      'post.njk'
date:        2025-03-21
tags:        posts
thumbnail:   \pages\blog\24\11\jekyll-to-11ty.png
description: Part of the reason I moved over from Jekyll to 11ty was the Build time. While Jekyll is really good for smaller websites it starts falling on it's face as the website gets bigger
---

