---
title:       "I've Been Posting More"
permalink:   /posting-more-creating-the-web/
layout:      'post.njk'
date:        2025-03-21
tags:        posts
thumbnail:   \assets\images\posting-more.png
description: Recently I've been posting more on a lot of platforms and It's been going pretty well.
---
<img src="\assets\images\posting-more.png" alt="">

<p>Recently I've been posting more on a lot of platforms and It's been going pretty well.</p>

