---
title:       "US - Mexico"
permalink:   /us-mexico/
layout:      'post.njk'
date:        2025-04-24
tags:        
thumbnail:   \assets\images\eagles/eagles.svg
description: Recently I've been posting more on a lot of platforms and It's been going pretty well.
---
<img class="paa-25"src=" \assets\images\eagles/eagles.svg" alt="">

<div class="post">

    <p>
        Theirs a lot of alarming news everywhere right now highlighting some of the negative aspects of the relationship between the United States and Mexico. While their is a lot to be said about these controversial issues it's important to remember that these problems are only part of the long history between these two groups of people that have had a shared history dating back to before either country was even named.
    </p>

    <p>
        While I understand that horrible things are indeed happening right now, my goal with this post is to help ease some of the anxiety and tension created by some of the more outrages claims about something a lot more sinister on the horizon by highlighting some of the more hi. I'll be talking about what I believe are some of the more positive history  between these two countries. My goal with this post is   . The reasons I'm doing this is because I feel like I knew very little about the relationship between these two countries other than the fact that their had been a war fought between them a long time ago.
    </p>

    <p>
        Part of my goal with this post is to bring forward some attention about the relationship between the 
        I thought currently a lot stories in the news and on different media outlets will have you thinking that their is some greater evil a foot. While their is a lot of tensions between the two sides I thought It'd.
    </p>

    <p>
        With that said, I thought It'd be a good I  dea to talk about some of the more positive aspects of the relationship between the United States & Mexico.
    </p>

</div>


<div class="post">
    
    <h3>The Green Revolution</h3>
    
    <p>
        The Green Revolution wasn't the overthrow but a much more complex sequence of progress and events that revolutionized the farming .
    </p>

    <h3>Wealth Extracted From Mexico Helped To Create The United States</h3>
    <p>Before Mexico was Mexico it was "La Nueva Espana" translates to "New Spain"</p>
    
</div>