---
title:       "Empty Ports in Long Beach"
permalink:   /empty-ports-in-long-beach/
layout:      'post.njk'
date:        2025-04-30
tags:        posts
thumbnail:   \assets\images\port-of-long-beach.jpg
description: Recently I've been posting more on a lot of platforms and It's been going pretty well.
---

<img src="\assets\images\port-of-long-beach.jpg" alt="port of long beach">
<div class="post" style="padding:50px 25px;">
    
    <p>
        All the political instability America has been facing will become more apparent for the average American in the upcoming weeks as the effects of Donald Trumps policies begin to manifest. 
    </p>

    <p>
        Currently the ports in Los Aneles which are responsible for approximately <a href="https://www.portoflosangeles.org/business/statistics/facts-and-figures">31% of everything the U.S. imports & exports in containers over the water</a> is seeing a 10% drop in ship traffic. Over the next couple of weeks that figure is expected to drop to 35% and year over year the figure gets closer to 44%.</p>

    <p>
        The reason most people have not really felt the volilitaiy of recent events is due to a few reasons. 
    </p>

    <p>
        One of main reasons for this is shipping delays. The average time it takes for for a freight boat to travel from China to the United States takes anywhere from a month to a month and a half based on location.
    </p>
    <p>
        Another reason why things don't looks out of the ordinary yet is because investors began to panic buy in bulk earlier this year due to the expectations of tariffs. The panic buying lead to a surplus of products that we're at the tail end of and on top of that exports from China to America have fallen drastically meaning theirs not a whole lot coming.
    </p>  
</div>

<div class="post" style="padding:50px 25px;">
      <h2>What does this mean for Tech</h2>
    <p>
        Some of the biggest things affected will be electronics and 
    </p>
</div>
