---
layout:      'default.njk'
title:       "How To Create Content For Your Website"
permalink:   /how-to-create-content-for-your-website/
date:         2024-12-05
tags:         ["", ""]
description: Learn what a website is and how it can help you.
---
<div class="mac back-white" style="padding: 50px 25px;">
    
    <h1 class="mb-25">How To Create Content For Your Website</h1>
    <p>
        At it's very basics a website is a group of web pages revolving around a certain topic under the same domain. Websites are communication tools and they can be used to display all sorts of different information on them from written content to interactive videos.  This website is about website development and design.
    </p>  

</div>
