---
layout: 'default.njk'
title:  "How To Convert Website Traffic Into Sales & Leads"
permalink: /how-to-convert-a-website/
tags: websites
description: Learn what a website is and how it can help you.
---
title:  "How To Convert Website Traffic Into Sales & Leads"

Getting people to come to your website can be tricky, if you'd like to know more about ways of getting people to visit your website check out 
this post I wrote <a href="/tutorials/how-to-get-traffic-to-your-website/" target="_blank">How to Get Traffic To Your website</a>

## What is a landing page?
Landing pages are webpages that are specifically designed to convert visitors into sales or leads.

## How does a landing page look?
Some of the things that distinguish landing pages from other types of webpages are the page layouts. While informative pages like blog posts tend to have more words, landing page more simple and to the point.

Landing pages are more well designed compared to other types of pages on a website.  Some characteristics that define a landing page are well crafted graphical elements, shorter more concise texts, and buttons with calls to action.

Landing pages are a lot more effective at converting users because they are designed with a single focus in mind.

Some common characteristics of landing pages are less links. These things are primarily done so that the user can focus on the message the page is trying to convey.

## What is the difference between a landing page and other types of webpages?

Their are a lot of different types of webpages out there but for this example we'll be using this page. 

This page, an article, is designed to be more informative so theirs a lot less graphical elements. It's meant for people to learn as much as they can about a specific topic. 

The difference between a landing page and something like this, a blog post, are pretty significant.
