---
layout:      'default.njk'
title:       What is a Search Engine Otimization?
permalink:   /what-is-search-engine-optimization/
date:         2024-12-05
tags:         ["websites", ""]
description: Learn what a website is and how it can help you.
---
<div class="mac paa-25">
    
    <h1 class="mb-25">What Is Search Engine Optimization?</h1>
    <p>
        Search Engine Optimization is the process of manipulating your website both on and off screen to appear rank higher and appear more with more frequency in the Search Engine Resutls.
    </p>  

</div>

<div class="mac paa-25">
    <h2>Some common methods of SEO</h2>
    <p></p>
</div>