---
layout:      'default.njk'
title:       What is a website?
permalink:   /what-is-a-website/
date:         2024-12-05
tags:        websites
description: Learn what a website is and how it can help you.
---
    <div class="cont pd-50">
        <h1>What Is A Website?</h1>
        <p class="">
            At it's very basics a website is a collection of web pages revolving around a certain subject under the same domain.
        </p>  
    
        <a href="/what-is-a-website/">What is a website?</a> <br>
        <a href="/">What Type of Web Pages Make Up A Website?</a> <br>
        <a href="/how-to-make-a-website/">How To Make A Website?</a>

    </div>

