---
layout: 'default.njk'
title: What is a static site generator.
permalink: /what-is-static-site-generator/
date:         2024-12-05
tags:         ["websites", ""]
description: Learn what a website is and how it can help you.
---
<hr>
<div class="container paa-50 back-white mtb-50 ">
    <h1>What Is A Static Site Generator?</h1>
    <p class="mw-500">
        Static site generators (SSGs) are software engines that use text input files (such as Markdown, reStructuredText, AsciiDoc and JSON) to generate static web pages.[1] Unlike dynamic websites, these static pages do not change based on the request. This simplifies the requirements for the backend and allows the site to be distributed via content delivery networks (CDN)s. The simple design also makes it harder for attackers to modify the website due to the smaller attack surface of these relatively simple backends. Some of the most popular static site generators are Jekyll, Hugo, Eleventy, Gatsby, and Next.js,[2][3] SSGs are typically for rarely-changing, informative content, such as product pages, news articles, software documentation, and blogs.z
    </p>  
</div>
