---
title:       Figma Templates
layout:      'default.njk'
date:        Last Modified
permalink:   /figma-templates/
display:     "Web Design Agency"
description: Figma Templates
---
<div class="cont pd-50">
    <h1>Figma Templates</h1>
    <p class="large-copy">
        These are designs that I've made in Figma. Feel Free to 
        duplicate them.  Hopefully they help you in your 
        website design journey!
    </p>
</div>

<div class="cont">
    <ul class="flex flex-wrap" style="padding-left:0;">
            
        <div class="flex flex-wrap">
        {%- for post in collections.figma -%}

                <li class="" style='max-width: 300px;'>
                    <article class="">
                        <img src="{{post.data.thumbnail}}" alt="">
                        <h3 class="">{{post.data.display}}</h3>
                        <a class="btn" href="{{post.url}}">Read More</a>
                    </article>
                </li>

        {%- endfor -%}
        </div>

    </ul>
</div>

