---
layout:       'default.njk'
date:         2024-12-01
title:        "Web Design Agency - Free Figma Template"
display:      "Web Design Agency"
permalink:    /figma-templates/web-agency-design/
tags:         figma
thumbnail:    /assets/templates/web-design-agency.png
description: 
---

{# left #}
<div class="container flex paa-25 back-white mtb-50">

    <div class="">
        <h1 class="mt-100">Web Design Agency Landing Page</h1>
        <p class="mw-300">
            If you want to download this template and edit it in Figma, click the link underneath the image to begin the download process.
        </p>

        <a href="https://payhip.com/b/qZw4a" class="payhip-buy-button _14" data-product="qZw4a" style="background:#C73636!important;border:0!important;">Download</a>
    </div>

    <hr>
    
    <div>
        <img src="/assets/templates/web-design-agency.png" alt="">
    </div>

</div>