---
layout:       'default.njk'
date:         2024-12-01
title:        "Web Design Agency - Free Figma Template"
display:      "Web Design Agency"
permalink:    /figma-templates/web-agency-design/
tags:         figma
thumbnail:    /assets/templates/web-design-agency.png
description: 
---

<div class="mac" style="padding:50px 25px;text-align:center;">
    <h1 class="">Web Design Agency Landing Page</h1>
    <p>
        Click the link below to download this Figma Template.
    </p>
</div>

{# left #}
<div class="mac flex" style="padding:0 25px;">  

    <hr>
    
    <div>
        <img style="border-radius:5px;" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/e48fc9182592271.6530388356d5c.png" alt="website design agency figma template">
    </div>

</div>

<div class="mac paa-25">
    <h2 class="">What is this?</h2>
    <p>
        This is a landing page I made offering website design and development services.
        One of first thing you'll notice about this web page's design is how colorful it is. The reasons for that is because at some point while working on some of my other project I got tired of seeing everything against a white background.
    </p>

    <h3 class="h4">Call To Action</h3>
    <p>
        The hero section of this page features a call-to-action on the left side with the offer "Let's Build Your Exact Website Today". <br> Below that you'll find two subheading. The subheading on top specifies the exact services and the one below that guarantees a quick turnaround time.
    </p>

    <h3 class="h4">Visual & Designs</h3>
    <p>
        On the right side of this landing page I chose to display some of the WordPress icons along with the logo to further associate the visuals with the type of services being offered to avoid any confusion. 
    </p>

    <h3>Service Section</h3>
    <p>
        Service Section
        The services section features three general types of web development and design services in a row, each with it's own icon shape to help distinguish each one.
        Website Design - Custom Web Page Design, Website Redesigns
        Search Engine Optimization - Local Content Strategies Keyword Research
        Website Development - WordPress, Larval, HTML, JavaScript

        Download The Figma - Web Design Agency Landing Page 

        Available For Work - Email To Contact</p>

    <h4>Font Family Used in This Design</h4>
    <p>The font used for this project is <strong>Josefin-Sans</strong></p>

    <h4>Download Website Design</h4>

    <a href="https://payhip.com/b/qZw4a" class="payhip-buy-button" data-product="qZw4a" style="background:#C73636!important;">Download</a>

    <h4>Keywords:</h4>
    <p>WordPress</p>
    <p>Website Development & Design Services</p>
    <p>font-family: Josefin-sans</p>
</div>