---
layout:       'default.njk'
date:         2024-12-01
title:        "Web Design Agency - Free Figma Template"
display:      "Web Design Agency"
permalink:    /figma-templates/web-agency-design/
tags:         figma
thumbnail:    /assets/templates/web-design-agency.png
description: 
---

{# left #}
<div class="container flex paa-25 back-white mtb-50">

    <div class="">
        <h1 class="mt-100">Web Design Agency Landing Page</h1>
        <p>
            Click the link below to download this Figma Template.
        </p>

        <a href="https://payhip.com/b/qZw4a" class="payhip-buy-button" data-product="qZw4a" style="background:#C73636!important;">Download</a>
    </div>

    <hr>
    
    <div>
        <img src="/assets/templates/web-design-agency.png" alt="website design agency figma template">
    </div>

</div>

<div class="container mtb-100 paa-25">
    <h2>What is this?</h2>
    <p>This is a landing page design I made in Figma. I don't rmember exactly why I made this design so red but I do remember that at some point I was getting tired of making black text white background designs so I thought a little outside the box with this one.</p>

    <h2>Hello I'm Ruben</h2>
    <p>
        Hi, I'm Ruben Gutierrez and I am a Website Designer in the Orange County, California area and I make websites. If you'd like to help me keep making free website design resources please consider paying a $1 or whatever you can when you go through the check out process, anything help Thank you!.
    </p>


    <h3>My Goal</h3>
    <p>My goal with this website and templates like this is to distribute free design resources.</p>

    <h4>Keywords:</h4>
    <p>WordPress</p>
    <p>Website Development & Design Services</p>
    <p>font-family: josefine-sans</p>
</div>