---
title:        "Birthday Invitation (Figma Template)"
display:      "Birthday Invitation"
layout:       'default.njk'
date:         2024-11-24
permalink:    /figma-templates/birthday-invitation/
tags:         figma
thumbnail:    /assets/templates/figma-invitation-template.png
description:  "Get this Birthday Invitation Design for Figma"
---

<div class="container">
    <img src="/assets/templates/figma-invitation-template.png" alt="">
    <p class="mt-100 _12 _600 mb-0">Free Figma Template</p>
    <h1>Birthday Invitation</h1>
    <p class="mw-300 mb-30">
        Click the link below to start the download process.
    </p>
    <a href="https://payhip.com/b/KgCtq" class="payhip-buy-button _14" data-product="KgCtq" style="background:#002B6B!important;border:0!important;">Download</a>
</div>

<div class="container">
    <div class="mtb-50" style="max-width:600px;">
        <h2>Why I Made This Birthday Invitation Card Design</h2>
        <p>
            This is a birthday invitation card design I made in Figma, feel free to duplicate it! I hope this helps you and that you learn something new.
        </p>
        <br>
        <h2>Free Website Design Resources</h2>
        <p>
            This is a free web design resources I made. If you like it please feel free to download it and use at your will. Website Attribution Required.
        </p>
    </div>

    
</div>
