---
title:        "Birthday Invitation (Figma Template)"
display:      "Birthday Invitation"
layout:       'default.njk'
date:         2024-11-24
permalink:    /figma-templates/birthday-invitation/
tags:         figma
thumbnail:    /assets/templates/figma-invitation-template.png
description:  "Get this Birthday Invitation Design for Figma"
---

      <div class="cont flex">
        <div class="info  j-flex align-items justify-content mw-50">
            <div class="paa-20 ">
                <p class="mt-100 _12 _600 mb-0">Free Figma Template</p>
                <h1>Birthday Invitation</h1>
                <p class="mw-300">
                    If you want to download this figma birthday card template and edit it in Figma, click the link below to start the download process.
                </p>
                <a href="https://payhip.com/b/KgCtq" class="payhip-buy-button _14" data-product="KgCtq" style="background:#002B6B!important;border:0!important;">Download</a>
            </div>
        </div>

        <div class="mw-50">
            <img src="/assets/templates/figma-invitation-template.png" alt="">
        </div>
    </div>

    <div class="cont flex">
        <div class="pd-100 paa-20 mw-50">
            <h2>Why I Made This Birthday Invitation Card Design</h2>
            <p>
                This is a birthday invitation card design I made in Figma, feel free to duplicate it! I hope this helps you and that you learn something new.
            </p>
            <h3>Why I Made This Template</h3>
            <p>I got the Idea to make this template from a scam email. The spam emailer inquired about a birthday card design he wanted made for an older couple. </p>
        </div>
        <div class="pd-100 paa-20 mw-50">
            <h2>Free Website Design Resources</h2>
            <p>
                This is a free web design resources I made. If you like it please feel free to download it and use at your will. Website Attribution Required.
            </p>
        </div>
    </div>
