---
layout:      'default.njk'
title:       "Birthday Invitation - Free Figma Template"
display:      "Birthday Invitation"
permalink:   /figma-templates/birthday-invitation/
description: A Birthday Invitation Design, Click Here to Get this For Figma.
tags: figma
thumbnail: /assets/templates/figma-invitation-template.png
---
<div class="paa-30">

      <div class="cont flex">
        <div class="info  j-flex align-items justify-content mw-50">
            <div class="paa-20 ">
                <p class="mt-100 _12 _600 mb-0">Free Figma Template</p>
                <h1>Birthday Invitation</h1>
                <p class="mw-300">
                    If you want to download this template and edit it in Figma, click the link underneatht the image to begin the download process.
                </p>
                <a href="https://payhip.com/b/KgCtq" class="payhip-buy-button _14" data-product="KgCtq" style="background:#002B6B!important;border:0!important;">Download</a>
            </div>
        </div>

        <div class="mw-50">
            <img src="/assets/templates/figma-invitation-template.png" alt="">
        </div>
    </div>

    <div class="cont flex">
        <div class="pd-100 paa-20 mw-50">
            <h2>Why I Made This Birthday Invitation Card Design</h2>
            <p>
                This is a birthday invitation card design I made in Figma, feel free to duplicate it! I hope this helps you and that you learn something new.
            </p>
        </div>
        <div class="pd-100 paa-20 mw-50">
            <h2>Free Website Design Resources</h2>
            <p>
                This is a free web design resources I made. If you like it please feel free to download it and use at your will. Also please consider linking to my website if you're going to use it for commercial purposes.
            </p>
        </div>
    </div>

</div>