---
title:       "Dentist Website Design (Figma Template)"
display:     "Dentist Website Design"
layout:      'default.njk'
date:        2024-12-18
permalink:   /figma-templates/dentist-website-design/
tags:        figma
thumbnail:   /assets/templates/dentist-website-design-cover.jpg
description: "This is a dentist landing page website design"
---    
<div class="container mac back-white flex paa-25">
    <div class="info  j-flex align-items justify-content ">
        <div class="paa-20 ">
            <p class="mt-100 _12 _600 mb-0">Free Figma Template</p>
            <h1>Dentist Company Website Design</h1>
            <p class="mw-300">
                Click the link below to download this Figma Template.
            </p>
            

            <a href="https://payhip.com/b/iVQrW" class="payhip-buy-button" style="background:#1568D5!important;border:0!important;"  data-theme="green" data-product="iVQrW">Download Now</a>

        </div>
    </div>

    <div>
        <img src="/assets/templates/dentist-website-design-cover.jpg" alt="a dentist website design and also a figma template">
    </div>
</div>

<div class="mac back-white paa-25" style="padding:150px 25px;max-width:800px;">
    <div class="pd-100">
        <h2>About This Template</h2>
        <p>This is a dentist website design I made. You can download it free for Figma. Below the hero is a review section that highlights satisfied customers along with a 5 star review rating system.</p>
    </div>
    <div class="">
        <h2>Hello I'm Ruben</h2>
        <p>
            Hi, I'm Ruben Gutierrez and I am a Website Designer in the Orange County, California area and I make websites. If you'd like to help me keep making free website design resources please consider paying a $1 or whatever you can when you go through the check out process, anything help Thank you!.
        </p>
    </div>
</div>
