---
title:       "Photographer Website Design (Figma Template)"
display:     "Photographer Website Design"
layout:      'default.njk'
date:        2024-12-01
permalink:   /figma-templates/photography-website-design/
tags:        figma
thumbnail:   "https://mir-s3-cdn-cf.behance.net/project_modules/fs/ebfc18190364427.65b9e34694b45.png"
alt: "Website Design & Development"
description: "This is a website design for a photographer or photography agency that focuses on special events. You can Download and Edit this website template for Figma."
---

<div class="mac flex">

    <div class="info  j-flex align-items justify-content ">
        <div class="paa-20 ">
            <h1>Photographer Website Design</h1>
            <p class="mw-300">
                Click Below To Download This Figma Template.
            </p>
        
            <a href="https://payhip.com/b/4PYsV" class="payhip-buy-button mb-50" data-product="4PYsV" style="background:black!important;border:0!important;">Download</a>

        </div>
    </div>

    <div>
        <img style="max-width:800px;" class="mb-25" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/ebfc18190364427.65b9e34694b45.png" alt="">
    </div>
</div>


<div class="mac mtb-100">
    <div class="inner-container mb-50 mw-50 mtb-50">
        <h2>About This Template</h2>
        <p>
            This is a website design for a photographer or photography agency that focuses on special events. You can Download and Edit this website template in Figma.
        </p>
        <p>Some of the details I included in this design are things like vintage camera.</p>

        <h2>Hello I'm Ruben Gutierrez A Website Designer</h2>
        <p>
            Hi, I'm Ruben Gutierrez and I am a Website Designer in the Orange County, California area and I make websites. If you'd like to help me keep making free website design resources like this one please consider paying a $1 or whatever you can when you go through the check out process, Thank you for your consideration!.
        </p>
        
    </div>
    <hr>    

    <div class="inner-container">
        <h3 class="h4">Keywords</h3>
        <p class="_12">Photography</p>
        <p class="_12">Special Events Photographer</p>
        <p class="_12">Wedding Photographer</p>
        <p class="_12">Camera</p>
        <p class="_12">Schedule Appointment Button</p>
    </div>
</div>
