---
title:       "Photographer Website Design (Figma Template)"
display:     "Web Design Agency"
layout:      'default.njk'
date:        2024-12-01
permalink:   /figma-templates/photography-website-design/
tags:        figma
thumbnail:   /assets/templates/photographer-landing-page.png
description: 
---

<div class=" container flex">

    <div class="info  j-flex align-items justify-content ">
        <div class="paa-20 ">
            <p class="mt-100 _12 _600 mb-0">Free Figma Template</p>
            <h1>Photographer Website Design</h1>
            <p class="mw-300">
                If you want to download this template and edit it in Figma, click the link underneatht the image to begin the download process.
            </p>
        
            <a href="https://payhip.com/b/4PYsV" class="payhip-buy-button mb-50" data-product="4PYsV" style="background:black!important;border:0!important;">Download</a>

        </div>
    </div>

    <div>
        <img style="max-width:800px;" class="mb-25" src="/assets/templates/photographer-landing-page.png" alt="">
    </div>
</div>

