---
title:        "SEO - Free Figma Template"
display:      "SEO"
layout:       'default.njk'
date:         2024-12-01
permalink:    /figma-templates/seo-landing-page/
tags:         figma
thumbnail:    /assets/templates/brea-seo-landing-page-figma-template.png
description:  An SEO Landing page design made in Figma. Download Now.
---

<div class="paa-20 pd-50">

        
    <div class="container flex">
        <div class="info  j-flex align-items justify-content ">
            <div class="">
                <p class="mt-100 _12 _600 mb-0">Free Figma Template</p>
                <h1>SEO Landing Page</h1>
                <p class="mw-300">
                    Click the link below the to begin the download process.
                    Enoy.
                </p>
                <a href="https://payhip.com/b/hvpq0" class="payhip-buy-button" data-theme="" data-product="hvpq0" style="background: #3A6FE5!important;">Dowload</a>
            </div>
        </div>

        <div>
            <img src="/assets/templates/brea-seo-landing-page-figma-template.png" alt="website landing page for search engine optimization services in Brea, California also a Figma Template">
        </div>
    </div>
   
    <div class="container">
        <div class="pd-50">
            <h2>About This Template</h2>
            <p>This is a website design for a SEO landing page I made in Figma. </p>
        </div>
        
    </div>
</div>