---
title:       "Website Starter Package Landing Page- Free Figma Template"
display:     "Web Design Agency"
layout:      'default.njk'
date:        2024-12-01
permalink:   /figma-templates/website-starter-package-landing-page/
tags:        figma
thumbnail:   /assets/templates/website-starter-package.jpg
description: A Landing Page 
---

<div class="container flex">
    <div class="info  j-flex align-items justify-content ">
        <div class="paa-20 ">
            <p class="mt-100 _12 _600 mb-0">Free Figma Template</p>
            <h1>Website Starter Package Landing Page</h1>
            <p class="mw-300">
                This is the a WordPress Pricing Table Design.
            </p>
            <a href="https://payhip.com/b/hLOdX" class="payhip-buy-button" data-theme="grey" data-product="hLOdX" style="background:#000!important;border:0!important;color: #fff !important;;">Download Now</a>
        </div>
    </div>

    <div>
        <img src="/assets/templates/website-starter-package.jpg" alt="a figma template design for wordpress ">
    </div>
</div>

<div class="container pd-50">
    
    <h2>What is this?</h2>
    <p>
    This is a landing page I made in Figma. It offers a website starter package in the Brea, California area.  I designed this webpage/service for beginners who are interested in starting a website.  It contains a lot of basic essential and design services to get up and running in no time.

    Often times the concepts and vocabulary around website development can put off people who simply just want a website but don't want to learn the technology.

    My goal for this landing page was to help make website design services look more like a product you can order or buy on a shelf.
    </p>

</div>
