* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: 36px;
}
@media (min-width: 780px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 0;
}
@media (min-width: 780px) {
  p {
    font-size: 20px;
  }
}

.lp-download-button {
  width: 180px;
  height: 53px;
  background: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.lp-padding {
  padding: 0 20px;
}
@media (min-width: 1200px) {
  .lp-padding {
    padding: 0;
  }
}

.lp-navigation {
  background: #D9D9D9;
  padding: 23.5px 10px;
}
.lp-navigation .inner-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.lp-navigation .inner-navigation .payhip-buy-button {
  text-align: center;
  font-size: 1em !important;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  width: 180px !important;
  height: 51.4px !important;
  border-radius: 0 !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  max-width: 180px !important;
  border: 1px solid white !important;
}

.lp-hero .inner-hero {
  padding-top: 100px;
  justify-content: space-between;
}
@media (min-width: 780px) {
  .lp-hero .inner-hero {
    display: flex;
  }
}
.lp-hero .inner-hero .hero-left {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lp-hero .inner-hero .hero-left p {
  margin: 20px 0;
}
.lp-hero .inner-hero .hero-left .lp-download-button {
  margin-bottom: 30px;
  font-size: 1.25em !important;
  width: 180px !important;
  height: 53px !important;
}
.lp-hero .inner-hero .hero-right .owl-carousel {
  max-width: 500px;
  margin: 0 auto 0;
  background: #F5F5F5;
  border: 3px solid black;
}

.lp-service-section .service-title {
  text-align: center;
  padding: 100px 0 75px;
}
@media (min-width: 780px) {
  .lp-service-section .services {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 234px;
  }
}
.lp-service-section .services .service {
  width: 222px;
  text-align: center;
  margin: 0 auto 80px;
}
@media (min-width: 780px) {
  .lp-service-section .services .service {
    margin: 0;
  }
}
.lp-service-section .services .service .icon {
  height: 100px;
  width: 100px;
  border: 3px solid #000;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lp-service-section .services .service h3 {
  margin: 30px 48px;
}
.lp-service-section .services .service p {
  font-size: 16px;
}

.lp-contact {
  padding-bottom: 200px;
}
@media (min-width: 780px) {
  .lp-contact {
    display: flex;
    justify-content: space-between;
  }
}
.lp-contact .lp-contact-title {
  max-width: 300px;
}
.lp-contact form {
  display: flex;
  flex-direction: column;
}
.lp-contact form label {
  margin-bottom: 40px;
}
.lp-contact form label input {
  background: #F5F5F5;
  border: 3px solid black;
  width: 100%;
  padding: 15px 10px;
}
@media (min-width: 780px) {
  .lp-contact form label input {
    width: 400px;
  }
}
.lp-contact form label textarea {
  background: #f5f5f5;
  border: 3px solid black;
  width: 100%;
  padding: 15px 10px 100px;
}/*# sourceMappingURL=app.css.map */