---
title:       "Finishing My Pricing Calculator"
permalink:   /2025-02-06/
layout:      'post.njk'
date:        2025-02-06
tags:        posts
thumbnail:   
description: Last few weeks I've been looking up a lot of information about website design. I think.
---

<h2>My Website Pricing Tool Is Up On My Website.</h2>
<p>This week I can finally post that I finished the website pricing tool I had been working on for a couple of weeks now. I made this tool to help </p>

<p>By selecting a few options about your websites specifications you can get an estimate of how much your website is going to cost.</p>

<h3 class="h4">Future Plans With This Tool</h3>
<p>While I was looking at other similar tools I noticed some features that I could implement to make this application more engaging.</p>
<p>Something I'd like to add to this page to really get visitors engaged with their potential investment is a contact form at the bottom of the page.  </p>



