---
layout:      'default.njk'
title:       Website Fundamentals
permalink:   /website-fundamentals/
date:         2024-12-05
tags:         ["", ""]
description: Learn what a website is and how it can help you.
---


<div class="mac j-flex">
    
    <div class=" flex" style="align-items:center;padding: 0 25px 0;background:#ebebeb;width:100%;">
        <div class="">
            <h1 style="font-size:36px;">Website Fundamentals</h1>

            <p style="max-width:450px;">
                Here you can find basic information about website so that you can start using them to do what you've always wanted to do.
            </p>
        </div>
    </div>

    

    <div style="padding:0 25px;width:25%;">
        <img src="\assets\images\squares.svg" alt="">
    </div>

</div>

<div class="mac flex" style="padding:100px 25px;">

    <div class="br j-flex" style="width:150px;">
        <img src="\assets\images\web.svg" alt="" style="width:200px;">
        <p class="h4"><a href="/what-is-website/">What exactly is a website?</a></p>
    </div>

    <div>
        <img src="\assets\images\web.svg" alt="" style="width:200px;">
        <p class="h4"><a href="/how-to-make-a-website/">How To Make A Website</a></p>
    </div>

    <div>
        <img src="\assets\images\web.svg" alt="" style="width:200px;">
        <p class="h4"><a href="/why-you-need-a-website/">Why You Need A Website</a></p>
    </div>


</div>

