---
title:        "Fullerton California"
display:      "Website Design Services"
date:         2024-12-03
layout:       'default.njk'
permalink:    /fullerton-california/
description:  Learn About Fullerton Rich History From The Tonga, to the Spanish Explorations, and now Fullerton.
tags:         ["fullerton", "local"]
---
<div class="container">
    <h1>Fullerton, California</h1>
    <p>Fullerton California is a city towards the north of orange county.</p>
    <p>
        The city of Fullerton got it's name from George Fullerton Who was the president of the Pacific Land and Improvement Company. The pacific Land & Improvement Company was one of the first.
    </p>

    <h2>Earliest People To Inhabit Fullerton</h2>
    <p>
        The first humans that stepped foot on the land that is now Fullerton are known as The Tongva's. The Tongva, are a Native American people who's living space spanned the LA Basin which covers multiple counties including Los Angeles, San Bernadino, and all of Orange County. The Tongva people also periodically populated the islands off of the coast of the basic which include Santa Catalina, Santa Cruz, and San Clemente
    </p>

    <h2>The First Europeans That Came Through Fullerton Slept At Hill Crest Park</h2>
    <p>
        The earliest Europeans in this area actually crossed through Fullerton on their way north from what is now san diego on their way to monterrey. This expedition also known as the Portola expedition.
        Some of the account of the portola expedition have the Spanish Explorers sleeping in what
        is now hill crest park before heading off up to harbor blvd.
    </p>


    <h3>Orange Groves In Fullerton Created The First Electric Guitar</h3>
    <p>
        In the late 1800's fullerton began to expedience an agricultural boom due to newer irrigation techniques. Fullerton was one of the largest orange producers in the entire world and with that came.
    </p>
</div>

