---
layout:      'post.njk'
date:        Last Modified
title:       "How To Build A Simple Header for SEO purposes in Eleventy"
permalink:   /01-12-2024/
description: The fear of failing and messing things ups can keep you from doing what you want to do. Even worse if you let those thoughts linger for too long you'll become paralyzed and you can suddenly feel like your in the passenger seat of your own life.
tags: posts
---

<div class="post">
    <h1></h1>
</div>