---
layout:      'default.njk'
date:        2024-12-03
title:       "Improving My Web Design Pricing Tool"
permalink:   /2024-12-03/
thumbnail:   /assets/images/improving-web-calc.png
tags:        posts
description: Improving my websites calculator. Deciding whether I'
---

<div class="cont">

    <div class="pd-50">
         <h1>Improving My Websites Calculator</h1>
    </div>

    <p>
        Worked a little more on the <a href="/calculator/">calculator</a> today. I'm also trying to work out how I'm going to put the icon on the button.
    </p>

    <img style="width: 75%;"src="/assets/images/improving-web-calc.png" alt="">

    <h2>Why I'm Making This Tool</h2>
    <p>I want to create this calculator to help individuals who are looking to start a website get a beter idea of the potential costs involved</p>

</div>