---
layout:      'default.njk'
date:        2024-12-03
title:       "Improving My Websites Calculator"
permalink:   /2024-12-03/
thumbnail:  /assets/images/improving-web-calc.png
tags:        current_post
description: Improving my website calculator.
---

<div class="cont">

    <h1>Improving My Websites Calculator</h1>
    <p>Worked a little more on the calculator today.</p>

    <img src="/assets/images/improving-web-calc.png" alt="">
</div>