---
layout:      'default.njk'
date:        2024-12-31
title:       "Margin Collapsing"
permalink:   /2024-12-31/
thumbnail:   /assets/images/current-figma-dentist-website-project-2024-12-05.pg
tags:        current_post
description: "Writing JavaScript for my Website Pricing Tool, Trying to beat all my local google search competition, Learning How to cut out hair out in GIMP."
---

<div class="cont">

    <div class="pd-50">
        <p>Dec, 09, 2024</p>
        <h1>Learning About Margin Collapsing Finishing Um Calculator</h1>
    </div>
    
    <p>
        
    </p>
</div>


