---
layout:      'default.njk'
date:        2024-12-31
title:       "Finished Designing The Icons For My The Pricing Tool I've Been Grinding On. Creating New Website Design"
permalink:   /2024-12-31/
thumbnail:   \assets\images\pricing-tool-blog-post.png
tags:        current_post
description: "I made 10 Icons for my website pricing tool. I also finished writing the JavaScript to make it function.."
---

<div class="cont flex">

    <div class="mtb-50"style="max-width: 500px;">
        <h1 class="mb-25">Finished Designing The Icons For My The Pricing Tool I've Been Grinding On. Creating New Website Design</h1>
        <img src="\assets\images\pricing-tool-blog-post.png" class="mb-20" alt="">
        <P>
            Today I finally finished making the icons for my pricing tool I'm working on. With a few cups of coffee I should have this project done in a few days.
        </P>
        
        <h2>Interested in seeing the icons working?</h2>
        <a href="/website-pricing-calculator/" class="btn mb-25">See Icons On Calculator</a>

        <p>The next thing I'm going to be working on is packaging everything.</p>
    </div>
    
    <div class="recent mtb-100" style="width:200px; height:300px;">
        <h2>Recent Posts</h2>

           {% for post in collections.posts | reverse %}
            {% if loop.index0 < 2 %}

                <li class=" mtb-25">
                    <article class="">

                        <div class="br" style="">
                            <img src="{{post.data.thumbnail}}" alt="" >
                        </div>

                        <div class="" style="">
                            <a href="{{post.url}}" style="text-decoration:none;"><h2 class="">{{post.data.title}}</h2></a>
                            <p class="_16">{{post.data.description}}</p>   
                        </div>

                    </article>
                </li>

            {% endif %}
        {% endfor %}
    </div>

</div>


