---
layout:      'default.njk'
date:        2024-12-31
title:       "Finished Designing The Icons For My Pricing Tool"
permalink:   /2024-12-31/
thumbnail:   /assets/images/current-figma-dentist-website-project-2024-12-05.pg
tags:        current_post
description: "Writing JavaScript for my Website Pricing Tool, Trying to beat all my local google search competition, Learning How to cut out hair out in GIMP."
---

<div class="cont">

    <div class="pd-50 paa-25 mtb-50" style="max-width:600px;">
        <p>Dec, 09, 2024</p>
        <h1 class="mb-25">Finished Designing The Icons For My Pricing Tool</h1>

        <P>Today I finially finished making the icons for my pricing tool I'm working on </P>
        <img src="/assets/images/icons.png" alt="">
        <br>
        <br>
        <a href="/website-pricing-calculator/" class="btn mb-25">See Icons On Calculator</a>

        <p>The next thing I'm going to be working on is packaging everything.</p>
    </div>
    
    <p>
        
    </p>
</div>


