---
title:       What Is Figma
layout:      'default.njk'
date:        2024-12-01
permalink:   /what-is-figma/
description: ""
---
<div class="container mac mtb-50 paa-25 back-white">
    
    <div class="">
        <h1 class="">What is Figma</h1>
        <p>
            Figma is a design tool. With Figma you can design user interfaces like websites, mobile application, and other digital mediums. 
            Some of the more cutting edge features that captivate so many designers are the mockup tools. Mock up tools give you the ability
            Figma has been around for about 5 years now. It is the most popular tool of it's kind and
        </p>

    </div>
</div>