---
layout:       'default.njk'
date:         2024-12-01
title:        "Web Design Agency - Free Figma Template"
display:      "Web Design Agency"
permalink:    /figma-templates/web-agency-design/
tags:         figma
thumbnail:    /assets/templates/web-design-agency.png
description: 
---
<div class="container">

        
    <div class="flex">
        <div class="info  j-flex align-items justify-content ">
            <div class="paa-20 ">
                <p class="mt-100 _12 _600 mb-0">Free Figma Template</p>
                <h1>Web Design Agency Landing Page</h1>
                <p class="mw-300">
                    If you want to download this template and edit it in Figma, click the link underneatht the image to begin the download process.
                </p>
            
            <a href="https://payhip.com/b/qZw4a" class="payhip-buy-button _14" data-product="qZw4a" style="background:#C73636!important;border:0!important;">Download</a>

            </div>
        </div>

        <div>
            <img src="/assets/templates/web-design-agency.png" alt="">
        </div>
    </div>

    <div class="mtb-50 flex">
        <div class="pd-100 mw-50">
            <h2 class="h3">About This Template</h2>
            <p>
                This is a landing page for a web design agency that I made in Figma.
            </p>
            <p>This landing page contains calls to action like a set up an appointment button. This page also contains a services section that outlines three basic services offered. They are website design, search engine optimization, and web development.</p>
        </div>
        <div class="pd-100 mw-50">
            <h2 class="h3">Free Website Design Resources</h2>
            <p>This is a free web design resources I made. If you like it please feel free to download it and use at your will. Also please consider linking to my website if you're going to use it for commercial purposes.
            </p>
        </div>
    </div>
</div>