---
title:        "Figma Invitation Template"
display:      "Figma Invitation Template"
layout:       'default.njk'
date:         2024-11-24
permalink:    /figma-templates/birthday-invitation/
tags:         figma
thumbnail:    /assets/templates/figma-invitation-template.png
description:  "Get this Birthday Invitation Design for Figma"
---

<div class="mac" style="padding:50px 25px;text-align:center;">

  
    <div class="">
        <div>
            <h1>Figma Invitation Template</h1>
            <p class="mw-300 mb-30">
                These are birthday/celebration card for an elderly persons birthday. To get the Figma File follow click the link below.
            </p>
        </div>
    </div>

</div>

<div class="mac" style="padding:0px 25px;">
    <img src="https://bronze-reasonable-parrot-188.mypinata.cloud/ipfs/bafybeia4dlplod4zmeyv637thn75ms7s5cyrmqxbhd66wfsiwudvnsi6qi" alt="birthday invitation card website design figma template">
</div>

<div class="mac paa-25">
    <div class="mtb-50">
        <h2 class="h3">Why I Made This Invitation Template Design</h2>
        <p>
            This is a birthday invitation card design I made in Figma, feel free to duplicate it! I hope this helps you and that you learn something new.
        </p>
        <br>
        <h2 class="h3">Free Website Design Resources</h2>
        <p>
            This is a free web design resources I made. If you like it please feel free to download it and use at your will. Website Attribution Required.
        </p>
        <h2 class="h3">Hello I'm Ruben</h2>
        <p>
            Hi, I'm Ruben Gutierrez and I am a Website Designer in the Orange County, California area and I make websites. If you'd like to help me keep making free website design resources please consider paying a $1 or whatever you can when you go through the check out process, anything help Thank you!.
        </p>
                    <a href="https://payhip.com/b/KgCtq" class="payhip-buy-button" data-product="KgCtq" style="background:#002B6B!important;border:0!important;" class="payhip-buy-button">Download</a>

    </div>

    
</div>
