---
title:       "Japanese Car Importer Website Design - Free Figma Template"
display:     "Japanese Car Importer Website Design"
layout:      'default.njk'
date:        2024-12-01
permalink:   /figma-templates/car-honda-importer-mobile-website-design/
tags:        figma
thumbnail:   "https://mir-s3-cdn-cf.behance.net/project_modules/fs/fd0509191184171.65c6ce062ebd5.jpg"
description: A Japanese car importing website design, Download it in Figma. Cars. Free Website Design. Honda. Kei Truck.
---
<div class="mac flex">

    <div class="info  j-flex align-items justify-content ">
        <div class="paa-25 ">
            <h1>Car Importing Business Mobile Website Design</h1>
            <p class="mw-300">
                If you want to download this template and edit it in Figma, click the link underneath the image to begin the download process.
            </p>
        </div>
    </div>
</div>

<div class="mac paa-25">
    <div>
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/fd0509191184171.65c6ce062ebd5.jpg" alt="a japanese car importing website design and figma template">
    </div>
</div>

<div class="mac paa-25">
    <div>
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/d9c001191184171.65c6d720de9c4.png
" alt="a japanese car importing website design and figma template">
    </div>
</div>

<div class="mac paa-25">
    <div class="" style="padding-right:50px;">

        <h2>About This Importer Website Design</h2>
        <p>
            This is a mobile website design for a Japanese car importing business.       The Japanese car features in this design is known as a Kei truck. 
        

        <h3>What is a Kei Car?</h3>
        <p>
            Kei cars are the smallest category of vehicles sold in Japan.
        </p>
        <p>
             The word 'Kei' translates to 'Light' in Japanese. While the average compact car in America weights well over a ton the average Japanese Kei cars weight 3/4 of a ton. Kei cars have small engines that tend to be no bigger than a liter and can hit top speeds of 60 miles per hour.
        </p>
        </p>

        <h3>Kei Trucks</h3>
        <p>
            Kei trucks, a variation of the kei car, are work utility vehicles that are minified versions of work trucks. The design of a Kei trucks usally have a small two person cab up front along with short bed that's designed for hauling and transportation. Some Kei trucks also feature four wheel drive capabilites which means they're perfect tools for tough terrain like dirt roads.
        </p>

        <h3>Kei Trucks Are Becoming Popular in the United States</h3>
        <p>
            Some of the reasons Kei Trucks are becoming more popular in America is because people in the rural areas are finding them more practical for their living siutations than buying an alternative.
            
            their work use practicality, fuel efficiency, & their low maintenance cost. 
        </p>
    
        <p>
            I've noticed a lot of people buying these and figured that using a Kei Truck would be fitting for this type of business and design.
        </p>

        <p>
            To make this I took inspiration from automotive website designs I found online along with some personal knowledge about the type of information you want to see when your shopping for cars online and this is what I came up with.
        </p>
        <p>
            I spent a few hours designing the layout and spend another hour or two making the logo look as cool as possible.  I used 'League gothic' for the big 'IMPORTER' text on top and translated 'car imported' to Japanese text and placed it right underneath.
        </p>
    </div>

</div>

<div class="mac paa-25">
    <h3>Download File Here</h3>
    <a href="https://payhip.com/b/Mju3m" class="payhip-buy-button" data-theme="grey" data-product="Mju3m">Download "IMPORTER" Figma File</a>
</div>

