---
title:       "Photographer Website Design (Figma Template)"
display:     "Web Design Agency"
layout:      'default.njk'
date:        2024-12-01
permalink:   /figma-templates/photography-website-design/
tags:        figma
thumbnail:   /assets/templates/photographer-landing-page.png
alt: "Website Design & Development"
description: "Photographer. Wedding Photography. This is a website design for a photographer.
Dowload this template free for Figma."
---

<div class=" container flex">

    <div class="info  j-flex align-items justify-content ">
        <div class="paa-20 ">
            <h1>Photographer Website Design</h1>
            <p class="mw-300">
                If you want to download this template and edit it in Figma, click the link underneatht the image to begin the download process.
            </p>
        
            <a href="https://payhip.com/b/4PYsV" class="payhip-buy-button mb-50" data-product="4PYsV" style="background:black!important;border:0!important;">Download</a>

        </div>
    </div>

    <div>
        <img style="max-width:800px;" class="mb-25" src="/assets/templates/photographer-landing-page.png" alt="">
    </div>
</div>


<div class="container mtb-100">
    <div class="inner-container mb-50">
        <h2>About This Template</h2>
        <p>This is a website design I made for a photographer.</p>
        
    </div>

    <div class="inner-container">
        <h3 class="h4">Keywords</h3>
        <p class="_12">Photography</p>
        <p class="_12">Special Events Photographer</p>
        <p class="_12">Wedding Photographer</p>
        <p class="_12">Camera</p>
        <p class="_12">Schedule Appointment Button</p>
    </div>
</div>
