---
layout:      'default.njk'
title:       "SEO - Free Figma Template"
display:      "SEO "
permalink:   /figma-templates/seo-landing-page/
description: 
tags: figma
thumbnail: /assets/templates/brea-seo-landing-page-figma-template.png
---

<div class="paa-20 pd-50">

        
    <div class="cont flex">
        <div class="info  j-flex align-items justify-content ">
            <div class="paa-20 ">
                <p class="mt-100 _12 _600 mb-0">Free Figma Template</p>
                <h1>SEO Landing Page</h1>
                <p class="mw-300">
                    If you want to download this template and edit it in Figma, click the link underneatht the image to begin the download process.
                </p>
                <a href="https://payhip.com/b/hvpq0" class="payhip-buy-button" data-theme="" data-product="hvpq0" style="border: 0 !important;;background: #3A6FE5!important;">Download Figma Template</a>
            </div>
        </div>

        <div>
            <img src="/assets/templates/brea-seo-landing-page-figma-template.png" alt="">
        </div>
    </div>
   
    <div class="cont flex">
        <div class="pd-100 mw-50">
            <h2>About This Template</h2>
            <p>This is a website design for a SEO landing page. You can download it free for Figma.</p>
        </div>
        <div class="pd-100 mw-50">
            <h2>Free Website Design Resources</h2>
            <p>This is a free web design resources I made. If you like it please feel free to download it and use at your will. Also please consider linking to my website if you're going to use it for commercial purposes.
            </p>
        </div>
    </div>
</div>