---
title:        "Online Shoe Store Website Design - Figma"
display:      "Online Shoe Store Website"
layout:       'default.njk'
date:         2024-12-01
permalink:    /figma-templates/nike-jordan-shoe-ecommerce-website/
tags:         figma
thumbnail:    "https://mir-s3-cdn-cf.behance.net/project_modules/fs/e885aa191026209.65c44afa4a612.jpg"
description: 
---


<div class="mac flex">
    <div class="  j-flex align-items justify-content" style="margin:0 auto;">
        <div class="paa-25 text-center">
                <p class="_12 _600 mb-0">Free Figma Template</p>
                <h1> Online Shoe Shop Website</h1>
                
        </div>
    </div>
</div>

<div class="mac paa-25">
      <div class="">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/e885aa191026209.65c44afa4a612.jpg" alt="figma template featuring an ecommerce shoe business website design featuring retro nike jordans">
    </div>
</div>

<div class="paa-30">
    
<div class="mac flex paa-25">

    <div class=" pr-30">
        <h2>About This Design</h2>

        <p>
            I've had a fascination with Nike shoes my whole life. Nike's especially Jordans are one of my favorite shoes and probably some of the most recognizable of all times.
        </p>

        <p>
            "Do they look great?" Yes! "Do they look good on me?" No, my ankles are too big!
        </p>
        <p>
            Despite that I am fascinated by the the unique shapes and color combination. I enjoy these types of so much that I decided to design this online shoe shop that sells modern releases of these awesome retro sneakers.
        </p>


        <p>
            One of my favorite features on this design is the color pallet in the top left corner of every shoe option.  The pallet contains the main colors on each shoe. My goal with this pallet is to help the buyer pick out shoes to match based on outfits they already have. 
        </p>

        <p>An improvement I'd like to add in the future is to lengthen the color pallet bar and break it up based on the percentage of each color on the shoe. If the shoe has a black base then half the bar would be black and if the shoe has small amounts of colors or highlights then only about a fifth of the bar would be colored in.
        </p>

        <p>
            If you'd like some help making a websites that looks similar to the one above please feel free to send me an email or give me a call!
        </p>

        <h3>Please Consider Buying</h3>

        <p>A lot of my resources are free</p>


        <a href="https://payhip.com/b/L0zAK" style="color:#000!important;background:#ECECEC!important;border:1px solid black !important;font-weight:600!important;" class="payhip-buy-button" data-product="L0zAK">Click To Download</a>
    </div>
  
</div>
</div>