---
title:       "WordPress Pricing Table - Free Figma Template"
display:     "WordPress Pricing Table"
layout:      'default.njk'
date:        2024-12-01
permalink:   /figma-templates/wordpress-pricing-table/
tags:        figma
thumbnail:   /assets/templates/wordpress-pricing-table-template.png
description: "A pricing table design for WordPress services."
---
<div class=" mac">

     <div class=" flex">
        <div class="info  j-flex align-items justify-content ">
            <div class="paa-20 ">
                <p class="mt-100 _14 _600 mb-0">Free Figma Template</p>
                <h1>WordPress Pricing Table Website Design </h1>
                <p class="mw-300">
                    This is the a WordPress Pricing Table design.
                </p>
                <a href="https://payhip.com/b/ecv2W" class="payhip-buy-button" style="background:#0A6AFA!important;border:0!important;" data-product="ecv2W">Download</a>
            </div>
        </div>

        <div>
            <img src="/assets/templates/wordpress-pricing-table-template.png" alt=" a pricing table website design for wordpress services also a figma template">
        </div>
    </div>
    
</div>

<div class="mac flex mtb-100">

    <div class="cont mw-50 pr-5">
        <h2 class="h3">Selling WordPress Website With A Pricing Table</h2>

        <p>
            This is a pricing table design that I made in Figma. My goal with this project was to advertise WordPress services in a way where it looks more like an off the shelf product than a concept or idea. The reason I did this is because I've noticed that their is a lot of people out their who are very interested in a starting a website but once they start looking into it they're quickly put off by the amount of options and tech vocabulary . I wanted to help these people by creating a page that includes website services in the form of this pricing table to give them a basic idea of what exactly it tis they're getting.
        </p>

        <p>
            What I've noticed is that their's a ton of people out there who want to start a website but the moment they go look into one they're bombarded with a ton of offers filled with jargon keywords that just don't make a whole lot of sense to them. This usually causes them to just keep day dreaming about the idea and eventually they push it to the back of their mind.
        </p>

    </div>

    <div class="mw-50">
        <h2 class="h3">The Different Tiers for This Pricing Table</h2>
        <p>In this design I included three tiers. Each tier has it's own benefits that I'll list and further elaborate. All of the tiers include free web hosting and domain.</p>
        <h3 class="h4">Left - Basic Package</h3>
        <p>
            The basic package is for the average business owner who's just starting off and doesn't really want a whole lot. The tier includes custom design services for 1 - 5 pages. This package is perfect for a brochure style  of website. This tier is the perfect foundation for your online presence.
        </p>
        <h3 class="h4">Middle - Pro Package</h3>
        <p>
            The basic package is a website that contains 
        </p>
        <h3 class="h4">Plus Package</h3>
        <p>
            The basic package is the top package in the tier it contains a ample amount of website design services. Some of the services include 
        </p>
    
    </div>



    

</div> 

<div class="mac">
      <div class="mw-50">
         <h2>Hello I'm Ruben Gutierrez A Website Designer</h2>
        <p>
            Hi, I'm Ruben Gutierrez and I am a Website Designer in the Orange County, California area and I make websites. If you'd like to help me keep making free website design resources like this one please consider paying a $1 or whatever you can when you go through the check out process, Thank you for your consideration!.
        </p>
    </div>
</div>