---
title:       "WordPress Pricing Table - Free Figma Template"
display:     "WordPress Pricing Table"
layout:      'default.njk'
date:        2024-12-01
permalink:   /figma-templates/wordpress-pricing-table/
tags:        figma
thumbnail:   /assets/templates/wordpress-pricing-table-template.png
description: 
---
<div class="paa-20">

    

     <div class="container flex">
        <div class="info  j-flex align-items justify-content ">
            <div class="paa-20 ">
                <p class="mt-100 _14 _600 mb-0">Free Figma Template</p>
                <h1>WordPress Pricing Table Website Design </h1>
                <p class="mw-300">
                    This is the a WordPress Pricing Table design.
                </p>
                <a href="https://payhip.com/b/ecv2W" class="payhip-buy-button" style="background:#0A6AFA!important;border:0!important;" data-product="ecv2W">Download</a>
            </div>
        </div>

        <div>
            <img src="/assets/templates/wordpress-pricing-table-template.png" alt="a figma template featuring a pricing table website design for wordpress services">
        </div>
    </div>
    
</div>

<div class="container flex mtb-100">

    <div class="cont mw-50 pr-5">
        <h2>What is this?</h2>

        <p>
            This is a WordPress pricing table design I made. I made this des to advertise WordPress website services. My aim with this design was to help ordinary people who don't know a whole lot websites visualize these types of services as a more off the shelf product rather than some complicated topic.
        </p>

        <p>
            What I've noticed is that their's a ton of people out there who want to start a website but the moment they go look into one they're bombarded with a ton of offers filled with jargon keywords that just don't make a whole lot of sense to them. This usually causes them to just keep day dreaming about the idea and eventually they push it to the back of their mind.
        </p>

    </div>

    <div class="mw-50">
        <h2>Why I Wanted To Make This Visual</h2>
        <p>
            What I've noticed is that their's a ton of people out there who want to start a website but the moment they go look into one they're bombarded with a ton of offers filled with jargon keywords that just don't make a whole lot of sense to them. This usually causes them to just keep day dreaming about the idea and eventually they push it to the back of their mind.
        </p>
    
        <p>
            My goal was to simplify the whole idea for them and include some of the main features and benefits.
        </p>
    </div>

</div> 