---
layout: 'default.njk'
title:  "Pages"
date:        2024-12-03
permalink: /pages/
---
<div class="container mb-100">

    <div class="mtb-25 back-white paa-50">
        <h1 class="mb-25">Pages</h1>
        <p>Here are some of the things I've made feel free to look around.</p>
    </div>

    <div class="flex">
        <div class="inner-container back-white paa-25">
        <img src="/assets/icons/local.svg" alt="">
        <h2 class="h4">Local SEO</h2>
        <p class="_12">Directory for local pages in North Orange County.</p>
        <a href="/local" class="btn">Local SEO</a>
    </div>

    
    <div class="inner-container back-white paa-25">
        <img src="/assets/icons/websites.svg" alt="">
        <h2 class="h4">Websites</h2>
        <p class="_12">Websites.</p>
        <a href="/websites" class="btn">Websites Guides</a>
    </div>

        <div class="inner-container back-white paa-25">
                    <img src="/assets/icons/tools.svg" alt="">
        <h2 class="h4">Tools</h2>
        <p class="_12">Tools I've Made.</p>
                <a href="/tools" class="btn">Tools</a>
    </div>
    </div>
    

</div>