---
layout: 'default.njk'
title:  "Pages"
date:        2024-12-03
permalink: /pages/
---
<div class="container mb-100">

    <div class="mtb-25 back-white paa-50">
        <h1 class="mb-25">Pages</h1>
        <p>Here are some of the things I've made feel free to look around.</p>
    </div>

    <div class="inner-container back-white paa-25">
        <h2 class="h3">Local SEO</h2>
        <p>Directory for local pages in North Orange County.</p>
                <a href="/local">Local SEO</a>
    </div>

    
    <div class="inner-container mtb-50 back-white paa-25">
        <h2 class="h3">Websites</h2>
        <p>Websites.</p>
                <a href="/websites">Learn More About Websites</a>
    </div>

        <div class="inner-container mtb-50 back-white paa-25">
        <h2 class="h3">Tools</h2>
        <p>Websites.</p>
                <a href="/tools">Website Information SEO</a>
    </div>
    

</div>