---
layout: 'default.njk'
title:  "Information About Websites"
date:        2024-12-03
permalink: /websites/
description: Are you interested in learning more about 
---
<div class="mac back-white paa-25 mb-25">
    <h1>Information About Websites</h1>
    <p>Learn More About How Website Work and How You Can Use Them To Improve Your Business</p>
</div>

<div class="mac paa-25 flex flex-wrap">
    {% for post in collections.websites | reverse %}
        {% if loop.index0 < 10 %}
            <div class=" back-white mb-25" style="width:250px">
                <a href="{{ post.url }}"><h3 class="h4">{{post.data.title}}</h3></a>
            </div>
        {% endif %}
    {% endfor %}
</div> 

<div class="mac paa-25 flex flex-wrap">
    <a href="/wordpress">WordPress</a>
    <a href="/online-marketing/">Online Marketing</a>
    <a href="/seo/">Search Engine Optimization</a>
    <a href="/website-fundamentals/">Website Fundamentals</a>

</div>