---
layout: 'default.njk'
permalink: /html-landing-page-template/
---



<div class="container back-white paa-25 flex">
    
    <div class="mtb-100 paa-50">

        <span>HTML, CSS, JavaScript</span>
        <h1 class="h2">Landing Page Template</h1>
        <p>This is a basic HTML, CSS, & JavaScript Landing Page Template I Designed & Coded about a year ago.</p>
        <a class="btn" href="/html-landing-page-template-preview/"> Preview</a>

    </div>

    <img src="\assets\images\landing-page.png" alt="" style="max-width: 600px;">

</div>

<div class="container mtb-50">   
    <div class="mw-50 inner-container back-white paa-50">
        <h2>Landing Page Template Features</h2>

        <p>Some of the features included in this landing page template are.
        </p>
        <p>Auto Gallery Slider: This landing page contain an auto slider in the hero section at the top. The auto slider contains 3 slides that are in constantly rotating. 
        </p>
        <p>Formspree Contact Form: Included in this landing page is also a form configured to work with Form spree form. To make this contact form work sign up for a Formspree account and drop your URL into the code and you're done. A free Formspree account gives you 50 free submission a month that you can redirect to your email. 
        </p>
        <h3>Font Family</h3>
        <p>SUSE</p>
    </div>
</div>