---
layout: 'default.njk'
title:  "Tools"
date:        2024-12-03
permalink: /tools/
---
<div class="container mb-100">

    <div class="pd-50 back-white paa-50">
        <h1>Tools</h1>
        <p>Tools I've Made</p>
    </div>

    <div class="paa-50 mtb-50">
        <h2>Html Template</h2>
        <p>An HTML Landing Page Template</p>
        <a href="/html-templates/">HTML Landing Page Template</a>
    </div>


       <div class="paa-50 mtb-50">
        <h2>Website Pricing Calculaotr</h2>
        <p>An HTML Landing Page Template</p>
        <a href="/website-pricing-calculator/">HTML Landing Page Template</a>
    </div>

</div>