---
layout: 'default.njk'
title:  "Tools"
date:        2024-12-03
permalink: /tools/
---
<div class="container mb-100">

    <div class="pd-50 back-white paa-25">
        <h1 class=>Website Tools I've Made</h1>
        <p>This is a small collection of some of the tools I've Made.</p>
    </div>

    <div class="j-flex">

        <div class="paa-25 mtb-50 mw-30">
            <h2 class="h4">HTML Template</h2>
            <p>A Free HTML/CSS/JS Landing Page Template</p>
            <a href="/html-landing-page-template/" class="_14">HTML Landing Page Template</a>
        </div>


        <div class="paa-25 mtb-50 mw-30">
            <h2 class="h4">Website Pricing Calculator</h2>
            <p>A pricing calclator tool that tells you an estimate on a website based on a few questions.</p>
            <a href="/website-pricing-calculator/" class="_14">Website Pricing Calculator</a>
        </div>

    </div>
</div>