---
title:       "Frog"
permalink:   /idea/
layout:      'post.njk'
date:        2025-11-04
tags:        posts
thumbnail:   https://bronze-reasonable-parrot-188.mypinata.cloud/ipfs/bafkreibxwxe6s4dp7dvmonvbaf3j4jeedcb7rpmyfozqisnzp3ys7skyci
description: plazazesamo
---

<div class="post">
    <img src="https://bronze-reasonable-parrot-188.mypinata.cloud/ipfs/bafkreidkcih56mdrzs3u6gulbq3ue57cxrmhzxrpfnjqcpwkvak6axzxsq" alt="">
</div>

<div class="post">
    <p>I seen one other one</p>
</div>