---
title:       "Loteria"
permalink:   /control/
layout:      'post.njk'
date:        2025-11-20
tags:        posts
thumbnail:   https://bronze-reasonable-parrot-188.mypinata.cloud/ipfs/bafkreibxwxe6s4dp7dvmonvbaf3j4jeedcb7rpmyfozqisnzp3ys7skyci
description: plazazesamo
---

<div class="post">
    <img src="https://bronze-reasonable-parrot-188.mypinata.cloud/ipfs/bafkreidkcih56mdrzs3u6gulbq3ue57cxrmhzxrpfnjqcpwkvak6axzxsq" alt="">
</div>

<div class="post">
    <h2>Loteria is About 100 Years Old</h2>
    <p>
        The original loteria set was created about 100 years ago.
    </p>
    <p>I'm hesitating on making more because it just got to political.</p>
    <p></p>
    <h3>Origin of Loteria</h3>
    <p>The card game was distributed to mexican soldier during the revolutionary war in their food rations to keep them entertained or from killing each other.</p>
</div>

<div class="post"></div>