---
layout:      'default.njk'
title:       Website Fundamentals
permalink:   /website-fundamentals/
date:         2024-12-05
tags:         ["websites", ""]
description: Learn what a website is and how it can help you.
---

<div class="mac paa-25">
    
    <h1>Website Fundamentals</h1>
    <p>
        Here you can find basic information about website so that you can start using them to do what you've always wanted to do.
    </p>

    <a href="/what-is-a-website/">What exactly is a website?</a>
    <a href="/why-you-need-a-website/">Why You Need A Website</a>

    <h2>Learned The Basic, Now Learn to Market Them</h2>

</div>