---
layout:      'default.njk'
title:       "How To Make A Website"
date:         2024-12-05
permalink:    /how-to-make-a-website/
tags:         ["", ""]
description:  "Making a website is not as hard as you think, follow this tutorial to get the fundamental understanding of what a website is so that you can do whatever you actually need to do!"
---
    
<div class="mac paa-25 ">

    <h1 class="mb-50">How To Make The Most Basic Website</h1>

    <p class="">
        Hello, my name is Ruben Gutierrez and I'm a Website Developer and today I'm going to be showing you how to make the most basic website/webpage.
    </p>

    <h2>Overcomplicating Website Development</h2>

    <p>
        To me, a lot of <b>"how to make a website"</b> tutorials are very confusing with a lot of extra details that take away from getting a basic grasp of website design.
    </p>

    <p>
        To start off, the first thing you need to understand is that websites are just a group of files that sit inside a folder hosted on a server.
    </p>

    <p>
        Websites can be made up of many different file types, but to make a basic website all you really need are these three main file types: <b>HTML, CSS, & Javascript.</b> These files provide your website with basic structure, design, and logic. In this guide we'll be focusing on HTML because it is the main type of file you will be using for building websites. HTML is the foundation of the the web.
    </p>

    <p><strong>Requirements: </strong>You don't need anything fancy to make a webpage, you can even use your standard text editor but I would not recommend it. What I would suggest is using a tool like <a target="_"href="https://code.visualstudio.com/download">Visual Studio Code</a> which provides you with a ton of extra features like code highlighting to make building your website much easier.</p>

    <div>

        <div class="mb-20">
            

            <h2>Basic Webpage</h2>

            <p class="mb-25">
                The main types of files you'll be using when developing your website are mark up files. Mark up files use a coding language that gives structure to your website content. The most common type of markup language is HTML.
            </p>

            <p>To create a mark up file simply add the .html extension at the end of your file like below.</p>

{# HTML Extension Code Block #}
<pre>   
    <code class="language-html">
    index.html
    </code>
</pre>   

            <p>
                I've written some code below for a basic webpage.
            </p>

            <p>
                I've added annotation to the tags to help you get a better understanding of what each element does. xAlso notice how every tag has an opening and closing tag, with the closing tag being defined by a forward slash. This indicates separation between each elements on your page.
            </p>

<pre>   
    <code class="language-html">

    // Tells the browser what version of HTML you are using
    &lt;!DOCTYPE html&gt;
    // Defines the root of the HTML document
    &lt;html lang="en"&gt;

    // The head is where you store your document's information - links - rules
    &lt;head&gt;

        // Support for characters and symbols
        &lt;meta charset="UTF-8"&gt;
        // Scaling, for proper rendering across various devices/screens 
        &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
        // Your Pages Title
        &lt;title&gt;Document&lt;/title&gt;
        
    &lt;/head&gt;

    // The Body Tag is Where you place all the elements you want display
    &lt;body&gt;

        &lt;h1&gt;Hello, World! I'm Back.&lt;/h1&gt;

        &lt;p&gt;Your First Website&lt;/p&gt;

    &lt;/body&gt;

    &lt;/html&gt;
    
    </code>
</pre>   
            <p>After placing this code inside of your HTML file simply double click on the file itself to preview it in the browser.</p>
</div>

