---
layout:      'default.njk'
title:       What is a HTML?
permalink:   /what-is-a-HTML/
date:         2024-12-05
tags:         ["", ""]
description: Learn what a website is and how it can help you.
---
<div class="mac back-white" style="padding: 50px 25px;">
    
    <h1 class="mb-25">What Is A HTML?</h1>
    <p>
        HyperText Markup Language or HTML is an tool used by website developers to display data and media on webpages. HTML is the building blocks of the internet and define how a webpage should. HTML is the foundation of the internet. HTML helps define a pages structure from the head to the footer and everything in between.
    </p>  
    <p>HTML is essential to learn if you plan on building tools and application online.</p>

    <h2>Houses & Websites</h2>
    <p>If A website were like a house the HTML would be the concrete foundation and the wood frame.</p>

    <h2>HTML Code</h2>
    <p>Here's an example of some HTML COde.</p>
    <p>To define an HTML you simply open it up based on the attribute you want to assign it and close it.</p>
    

    <h2>The Origin of HTML</h2>
    <p>HTML started off in the early 90's</p>

</div>

