---
title:       "Changing My Website Fonts "
permalink:   /changing-my-website-fonts/
layout:      'post.njk'
date:        2025-05-06
tags:        posts
thumbnail:   \assets\images\posting-more.png
description: 
---
<div class="post">

    <p>
        Today I changed the font on my website from <strong>"SUSE" to "Cal Sans"</strong>
    </p>

    <p>
        Doing this made me realize that simple things like fonts could have tremendous impact on your websites appearance and overall vibe.
    </p>

</div>
