---
title:       "The Importance of Learning To Solve Problems As A Technology Proffesional"
permalink:   /solving-problems/
layout:      'post.njk'
date:        2025-05-28
tags:        posts
thumbnail:   https://bronze-reasonable-parrot-188.mypinata.cloud/ipfs/QmRFwwDgdFNHiMW9kdF7SDAmEK5g18voZNBW3cFftKAwHi
description: 
---


<div class="post">

  
   
One thing you have to start getting used to as a technology professional is solving problems because that's basically what the job is.




</div>
