---
layout: 'post.njk'
title: "Writing Real Content"
permalink: /2024-11-26/
description: Part of the reason I moved over from Jekyll to 11ty was the Build time. While Jekyll is really good for smaller websites it starts falling on it's face as the website gets bigger
tags: current_post
---


<div class="post">
    <div class="mb-50">
        <p>
            Writing something else. What do I write.
            I learned 
        </p>
    </div>  
  
</div>