---
title:       "Moving Over to 11ty from Jekyll"
permalink:   /2024-11-24/
layout:      'post.njk'
date:        2024-11-24
tags:        posts
thumbnail:   /assets/images/jekyll-to-11ty.png
description: Part of the reason I moved over from Jekyll to 11ty was the Build time. While Jekyll is really good for smaller websites it starts falling on it's face as the website gets bigger
---

<div class="post mb-20">

   <p>
      I've been using Jekyll to make websites for a few years now but today something finally happened that made me move my site over to 11ty.
   </p>

</div>
<div class="post mb-20">
   <div class="mw-50">
      <h2 class="_18">Why I Like Jekyll</h2>
      <p class="_14">The main reason I like Jekyll is because it's easy to use and provides you with a lot of powerful tools. I mainly used it for SEO projects and smaller landing page websites I'd send paid ads too. </p>
   </div>

   <div class="mw-50">
      <h2 class="_18">Jekyll's Limitation</h2>
      <p class="_14">My only complain about Jekyll is the build time.</p>
   </div>

   <h2>What Happened That Made Me Switch</h2>
   <p>Earlier this week when I was building out this website I found myself having to wait longer and longer for my code to compile. At first it wasn't a big deal but the more code I added the longer my computer would freeze. It got to the point where it just wasn't avoidable and I quickly began looking into alternatives.</p>
   <p>The reason I'd never ran into this issues before is because most of the projects I've made up until now have been relatively small. It really wasn't until I started working on this website that it became a problem.</p>
</div>

<div class="post mb-20">
   <h3>Why I Chose Eleventy</h3>
   <p>While it has been a bit of a headache adapting to this new static site generator it has gone relatively well and I'm quite surprised by the speed and features.</p>
   <p>I chose 11ty for a few reasons but the main one is for it's speed.</p>
   <p>From what I've read online it seems that Jekyll is built using older technology. Compare that to 11ty that's built with JavaScript and builds website almost instantaneously. </p>
</div>

