---
layout: 'post.njk'
title: "Fixing My Websites Meta Descriptions"
permalink: /26-11-2024/
description: Part of the reason I moved over from Jekyll to 11ty was the Build time. While Jekyll is really good for smaller websites it starts falling on it's face as the website gets bigger
tags: current_post
---


<div class="post">
    <p>Today I found myself in a panic because I realized that all of the meta descriptions on my website where missing.</p>
    <p>When I think about one of the reasons I was hestitating on moving over to Jekyll</p>
</div>