---
title:       "Making An Ad For A $99 Website"
permalink:   /29-11-2024/making-an-ad-for-my-web-services/
layout:      'default.njk'
date:        2024-11-29
tags:        posts
thumbnail:   \assets\images\website-deal-$99.jpg
description: Today I made this advertisment for an offer of a business website for just $99.    
---

<div class="cont mtb-50">
    <h1>Making An Ad For A $99 Website</h1>
</div>

<div class="cont">
    
    <p>
        Today I made this advertisment for an offer of a business website for just $99.
    </p>

    <img src="\assets\images\website-deal-$99.jpg" alt="website-deal-$99">
    

    <h2>The Offer Includes</h2>

    <p class="mw-500"><strong>Free Domain:</strong> Most Domains Can Cost From a Few Dollars to a Couple with this deal you’ll get a free unique domain that fits your business goals.</p>

    <p class="mw-500">Free Server Space: Server space can cost you a few dollars every month and about a couple hundred a year. With this package you won’t have to worry about that additional cost.</p>

    <p>
        (3 - 5) Custom Pages: With your free domain and server space you’ll also get 3 - 5 custom pages built exactly to your specificity.  
    </p>

    <h2>Fonts I Used</h2>
    <p>For the font I used Kumar One & Karla</p>    

</div>