---
layout: 'default.njk'
permalink: /html-templates/
---

<div class="cont">
    <h1>HTML Template Laning Page Template</h1>
    <a href="/html-landing-page-template/">Preview This HTML Landing Page Template</a>
    <p>An HTML landing page template I made about a year ago. Download.</p>
</div>