---
layout: 'default.njk'
permalink: /html-templates/
---

<div class="container">
    <div class="pd-50">
            <h1>HTML Template - Laning Page Template</h1>
    </div>
    <img src="\assets\images\landing-page.png" alt="" style="max-width: 600px;">

    <h2>Basic HTML Template</h2>
    <span>
        <strong>Preview:</strong>
        <a href="/html-landing-page-template/"> This HTML Landing Page Template</a>
    </span>

    <p class="mw-50">An HTML landing page template I made about a year ago. Download.</p>
</div>