---
title:       Ruben Gutierrez - Website Developer
permalink:   /html-templates/
layout:      'default.njk'
date:        2025-03-03
description: "Hello my name is Ruben Gutierrez & I'm A Website Developer."
---

<div class="mac" style="padding:25px;">
    <h1>HTML Templates</h1>
    <p>These are some of the HTML Templates That I've Made</p>
    <a href="/html-landing-page-template/">Landing-page-template</a>

</div>