---
title:       "Building "
permalink:   /2025-03-02/
layout:      'post.njk'
date:        2025-02-06
tags:        posts
thumbnail:   
description: Last few weeks I've been looking up a lot of information about website design. I think.
---

The Lenovo geie2400GC Ryzen

Earileir this year I set out to buy new work computer.

I'm mostly making websites so I'm using progrma VsCode, Inkscape, GIMP, Figma etc. These programs are very CPU and RAM in

After doing some research and by research I mean googling variations of 
"cheapest mini pc under $100" I came to a few conclusions.


