---
title:       "Buying A $50 Mini PC that performs Just As Good As My $500 Laptop "
permalink:   /2025-03-03/
layout:      'post.njk'
date:        2025-03-03
tags:        posts
thumbnail:   
description:
---

<p>
    Earileir this year I set out to buy new work computer. In my life I've owned  about a hundred computers ranging from $1000 laptops to the free desktop someone gives you because they know you like computers so I've gotten really good at spotting the pros and cons on between diffrent types. I did some research for a couple of days and I ended up purchasing The Lenovo Power Station 183C. This computer has been the best computer for the cost I've ever bought.
</p>

<p> It has a Ryzen 3 2400GE CPU and 8 Gigs of RAM and let me tell you this computer works almost as good as my $600 laptop.</p>
<p>
    Earileir this year I set out to buy new work computer. My goal was to find a cheap work horse for making websites and web design content.  Nothing too crazy like video editing. 
</p>


<h2>Some Of My Requiremnents For This Computer</h2>

<p>
    I didn't want to spend a lot of money so a budget of $50 - $80 dollars.
</p>

<p>
    A computer capable of handling multitasking without performence issues (lag, freeze, etc.).
</p>

<p>Some of the software I use when I'm working are programs like VSCode, Inkscape, GIMP, Figma etc. basically a lot of programs for making websites and web content. These programs don't require a lot of RAM & CPU to run individually but when their used in a work envioremnet where you're constantly switcthing from window to window it can create issues especially on computers with lower end chip sets.</p>

After googling variations of the phrase
"cheapest mini pc under $100" I came to a few conclusio

these ryzen chipsets where one of the few chipsets that started outperformein
