---
title:       "US - Mexico"
permalink:   /us-mexico/
layout:      'post.njk'
date:        2025-04-24
tags:        posts
thumbnail:   \assets\images\eagles/eagles.svg
description: Recently I've been posting more on a lot of platforms and It's been going pretty well.
---
<img src=" \assets\images\eagles/eagles.svg" alt="">

<div class="post">
    
    <h2>Farming History Between The US & Mexico</h2>
    <p>
        Growing up on the North Side of Orange County almost my whole life I never really learned about the relationship between the united states and mexico beyond the fact that their had been a war a long time ago.  
    </p>

    <p>Currently a lot stories in the news and on different media outlets will have you thinking that their is some greater evil a foot. While their is a lot of tensions between the two sides I thought It'd </p>

    <p>
        With that said, I thought It'd be a good I  dea to talk about some of the more positive aspects of the relationship between the United States & Mexico.
    </p>

    <h3>The Green Revolution</h3>
    
    <p>
        The Green revolution wasn't you're typical tyranical overthrow but a much more 
    </p>

    <h3>Wealth Extracted From Mexico Helped To Create The United States</h3>
    <p>Before Mexico was Mexico it was "La Nueva Espana" translates to "New Spain"</p>
    
</div>
