---
title:       "Empty Ports in Long Beach"
permalink:   /empty-ports-in-long-beach/
layout:      'post.njk'
date:        2025-04-30
tags:        posts
thumbnail:   \assets\images\posting-more.png
description: Recently I've been posting more on a lot of platforms and It's been going pretty well.
---
<div class="post">
    
    <p>Recently</p>
    
    <h2>All the rec</h2>
    <p>
        I haven't really posted too much on this blog especially since I decided to purge a lot of old content. Instead I've been focusing on two things. The main thing I've been focusing on is branching out my network and reach by engaging more on social media.The other thing I've been focusing on.
    </p>
</div>
