---
title:       "Empty Ports Throughout Los Angeles County"
permalink:   /empty-ports-throughout-los-angeles-county/
layout:      'post.njk'
date:        2025-04-30
tags:        posts
thumbnail:   \assets\images\port-of-long-beach.jpg
description: Recently I've been posting more on a lot of platforms and It's been going pretty well.
---

<img src="\assets\images\port-of-long-beach.jpg" alt="port of long beach">
<div class="post" style="padding:50px 25px;">
    
    <p>
        All the political instability America has been facing will become more apparent for the average American in the upcoming weeks as the effects of Donald Trumps policies begin to manifest and start to become apparent in everybody everyday life. 
    </p>

    <p>
        Currently the ports throughout Los Angeles County which are responsible for  <a href="https://www.portoflosangeles.org/business/statistics/facts-and-figures">31% of everything the U.S. imports & exports in containers over the water</a> is seeing a 10% drop in traffic. Over the next couple of weeks that figure is expected to drop to 35% and year over year the figure looks closer to 44%.</p>

    <p>
        The reason most people have not really felt the volilitaiy of recent events is due to a few reasons. 
    </p>

    <p>
        One of main reasons for this is shipping delays. The average time it takes for for a freight boat to travel from China to the United States takes anywhere from a month to a month and a half based on location.
    </p>
    <p>
        Another reason why things don't looks out of the ordinary yet is because investors began to panic buy in bulk earlier this year due to the expectations of tariffs. The panic buying lead to a surplus of products that we're at the tail end of and on top of that exports from China to America have fallen drastically.
    </p>  
</div>

<div class="post" style="padding: 25px;">
    <h2>What This Means For People In The Technology Sector</h2>
    <p>
        Seeing as how our entire technology industry in America is heavily reliant on Chines manufacturing to keep the price of products low this is probably one of the worst times to be in tech but I still keep typing along. Expect the price of things like electronics and machinery to significantly go up along with anything having to do with that, which is basically everything in the modern electrified world 🥲.
    </p>
</div>


