---
title:       "WordPress Is Getting AI Features"
permalink:   /wordpress-is-getting-ai-features/
layout:      'post.njk'
date:        2025-05-06
tags:        posts
thumbnail:   https://bronze-reasonable-parrot-188.mypinata.cloud/ipfs/bafybeiftutyh6s7xio2h4aiiud5oujo5l7jjmmujhvnohsjledvomdinw4
description: 
---
<div class="post">

  <p>
      WordPress Is Getting A Ton Of New Features Including
  </p>

  <video width="100%" autoplay loop>
    <source src="https://bronze-reasonable-parrot-188.mypinata.cloud/ipfs/bafybeihxgd3lrtrchhfegcjp34awss2wszctvcque3kyv44q77jpgbfqhm">
    
    Your browser does not support the video tag.
  </video>

  <p>Two of the new AI features being added to the WordPress tool belt include auto fill buttons that let you quickly pick between different images and color layouts. </p>

</div>
