---
layout:      'default.njk'
title:       "How To Make A Website"
date:         2024-12-05
permalink:    /how-to-make-a-website/
tags:         ["websites", ""]
description:  Learn what a website is and how it can help you.
---
    
<div class="cont pd-50">

    <h1 class="large-title">How To Make A Website</h1>

    <p class="mb-25">
        In this guide I'll be showing you how to make the most basic website so that you can get a better understanding of the fundmaelts and basic concepts behind web design.
    </p>

    <p class="mb-25 mw-500">Let's start with the basics. What is a website? A website is a grouping of webpages but a group or people under the same domain. </p>

    <div class="">
        <p class="_400 mb-10">Visual Studio Code A Really Good Text Editor</p>
        <p>
            In order to start writing code you're going to need a text editor. I suggest installing <a href="">Visual Studio Code</a>
            because it provides you with a lot of useful tools, but any of them will do.
        </p>
    </div>

    <div class="flex mb-50 flex-wrap br">
        
        <div class="mb-20">
            <h2>Step 1: Create A Folder</h2>
            <p>The first thing you're going to do is create a folder so that you can store all you're files, name it whatever you like. To create a folder you need to right click on yourscroll down to "New" and click itI suggest right clicking on your desktop and heading down t up the folder in your text editor.</p>
        </div>

        <div class="mb-20">
            <h2>Step 2: Creating An HTML File</h2>
            <p class="mb-25">
                The main types of files you'll be using when you're developing website are mark up files. Mark up files are coding language used to give render and give sturcture to information and media.
            </p>
        </div>

        <div class="mb-20">
            <h2>Step 3: Creating An HTML File</h2>
            <p class="mb-25">
                The main type of file you'll be using when you're building websites are HTML, CSS, & JavaScript. 
            </p>
        </div>



    </div>

</div>



