---
layout:      'default.njk'
title:       What is a website?
permalink:   /what-is-a-website/
date:         2024-12-05
tags:        websites
description: Learn what a website is and how it can help you.
---
<div class="cont mtb-100">
    <h1 class="mb-25">What Is A Website?</h1>
    <p class="">
        At it's very basics a website is a group of web pages revolving around a certain subject under the same domain.
    </p>  
</div>

