---
title: wordpress-landing
layout: 'default.njk'
permalink: /landing/
description: "Welcome to the blog of Ruben Gutierrez, Website Designer & Developer. Check out my current project, along with insights into my design and development processes"
---

<div class=" mac paa-25 br animated">
    <div class="mw-50 br" style="height:200px;">
        <h1 class="h2">Get A WordPress Website</h1>
        <p>Do you need help with your WordPress Website?</p>
        <a href="/contact" class="btn" style="text-decoration:none!important;">Let's Talk</a>
    </div>
</div>

<hr>    

<div class="mac br paa-25">
    <div class="br" style="max-width:300px;">
        <h3>        Basic Package</h3>
    </div>
</div>
