---
title: wordpress-landing
layout: 'default.njk'
permalink: /wordpress-website-packages/
description: "Welcome to the blog of Ruben Gutierrez, Website Designer & Developer. Check out my current project, along with insights into my design and development processes"
---

<div class="mac animated">
    <div class="mw-50 " style="padding:100px 25px">
        <h1 class="">Get A WordPress Website</h1>
        <p>Are you looking to get a WordPress Website? Check out these WordPress Website packages.</p>
        <a href="/contact" class="btn" style="text-decoration:none!important;">Let's Talk</a>
    </div>
</div>

<hr>    

<div class="  paa-25" style="background:#151414;">

    <div class="" style="margin:0 auto;text-align:center;padding:50px 25px;color:#fff;">
        <h2>WordPress Websites</h2>
    </div>

   <div class=" mac flex" style="padding:50px 0;color:#fff;">

     <div class="mw-30" style="background:#2A2A2A;border-radius:5px;text-align:center;">
        <h3>Basic Package</h3>

        <div class="h2">$299.99</div>

        <strong>Features:</strong>
        <div class="" style="padding:50px;text-align:left;">
             <p>Free Custom Domain & Hosting</p>
            <p>1 - 5 Custom Pages</p>
            <p>Website Tutoring</p>
        </div>
        <a href="" class="btn" style="background:#0A6AFA;">Select</a>
    </div>

     <div class="mw-30" style="background:#2A2A2A;border-radius:5px;text-align:center;">
        <h3>Plus Package</h3>
        <div class="h2">$299.99 - $1,000.00</div>
        <strong>Features:</strong>
        <div class="" style="padding:50px;text-align:left;">
             <p>Free Custom Domain & Hosting</p>
            <p>1 - 5 Custom Pages</p>
            <p>Website Tutoring</p>
        </div>
        <a href="" class="btn" style="background:#0A6AFA;">Select</a>
    </div>

     <div class="mw-30" style="background:#2A2A2A;border-radius:5px;text-align:center;">
        <h3>Pro Package</h3>
        <div class="h2">$99.99 - $499.99</div>
        <strong>Features:</strong>
        <div class="" style="padding:50px;text-align:left;">
             <p>Free Custom Domain & Hosting</p>
            <p>1 - 5 Custom Pages</p>
            <p>Website Tutoring</p>
        </div>
                <a href="" class="btn" style="background:#0A6AFA;">Select</a>
    </div>

   </div>
</div>
