---
title:       "Why I Make Website Design Resources & Give Them Away For Free"
permalink:   /why-i-make-website-design-resources-and-give-them-away-for-free/
layout:      'post.njk'
date:        2025-05-01
tags:        posts
thumbnail:   
description: 
---
<div class="post">

    <p>
        Their is a few reasons why I make website design resources and give them away for free.
    </p>

    <h2>Giving Back To A Community That Helped Me</h2>
    <p>
        One of the main reasons I enjoy making website design resources and giving them away here on my website for free is because I can help the community that taught me how a good website should look.
    </p>
    <p>
         Free resources that are constantly circulating in the design spaces online have helped me grasp a better understanding.
    </p>

    <h2>Giving Away Resources Gets You Noticed</h2>
    <p>
        From the new client to the simple thank you in the comment section giving away free design resources has helped me build a community.
    </p>
</div>
