---
title:       "Using AI To Boost Engagement Across Your Network"
permalink:   /making-more-posts/
layout:      'post.njk'
date:        2025-05-23
tags:        posts
thumbnail:   https://bronze-reasonable-parrot-188.mypinata.cloud/ipfs/QmRFwwDgdFNHiMW9kdF7SDAmEK5g18voZNBW3cFftKAwHi
description: 
---

<img src="https://bronze-reasonable-parrot-188.mypinata.cloud/ipfs/QmRFwwDgdFNHiMW9kdF7SDAmEK5g18voZNBW3cFftKAwHi" alt="" style="padding:25px;">

<div class="post">

    <p>
        Lately I've been using AI to create images so that I can promote my website on social media.
    </p>

    <p>
        Images tend to get more engagement than words alone.
    </p>

    <p>
        Part of my goals include teaching more hispanic/latinos how to code because they're a very underrepresented group in the technology industry.
    </p>
    

    <h2>Using Dall-E</h2>

    <p>
        Theirs a lot of AI options out there to generate images but I'm keeping it basic and using Dall-E which gives you the option of creating up to 15 free images in a 24 hour period which is more than enough to regularly post.
        
        With some simple request to Dall-E  you can generate images that are completing free to you.
    </p>


</div>
