---
title:       "Using AI To Make Social Media Posts"
permalink:   /making-more-posts/
layout:      'post.njk'
date:        2025-05-18
tags:        posts
thumbnail:   \assets\images\jekyll-to-11ty.png
description: 
---
<div class="post">

    <h1></h1>

    <p>
        Their is a few reasons why I make website design resources and give them away for free.
    </p>

</div>
