---
title:       "Building Out My Website Page by Page"
permalink:   /building-out-my-website/
layout:      'post.njk'
date:        2025-03-21
tags:        posts
thumbnail:   \assets\images\posting-more.png
description: Recently I've been posting more on a lot of platforms and It's been going pretty well.
---
<div class="post">
    
    <h2></h2>
    <p>
        I'm building out my website. no shortcuts no copy paste just straight word for word line for line explaining all my thoughts as fast as I can reasonably filter them and write them down lol
    </p>

    
</div>
