---
title:       Ruben Gutierrez - Professional Website Designer & Developer
layout:      'default.njk'
date:        2024-12-05
description: "Hello, I'm Ruben Gutierrez A Website Designer in La Habra, California. Let's talk today! Email: rubengutierrezwebdesign@gmail.com phone: (562) 475-8959"
---

<!-- About Title -->
<div class="cont flow mtb-50">

    <div class="flow mtb-100">
        <div>
            <h1 class="mb-25">
                Ruben Gutierrez: Professional Website Designer
            </h1>
            <hr>
            <p>
                Hello! My name is Ruben Gutierrez and I am a freelance website designer in the La Habra, California area. I've been making websites for a few years and I'd like to help you with your website.
            </p>
            <p>When I was around 10 I received my first computer for Christmas. When I wasn't taking it apart and putting it back together I was researching new way to try and make it work faster. Fast forward a couple years and I began to help my friends and family fix their computers. </p>

        </div>
    </div>

    <hr>
    
    <div class="mtb-50">
        
        <div class="flex border-box">

            <div class="mw-45 back-grey paa-25 ">
                <h2>Blog</h2>
                <p>Here you can find information about me and what I'm up too.</p>
                <a href="/blog">Blog</a>
            </div>

            <div class=" mw-45 back-grey paa-25 ">
                <h2>Figma Templates</h2>
                <p>Figma is a interface design tool that can help you create beatiful websites. When I'm not working on a project I make templates and release them for free.</p>
                <a href="/figma-templates/">Check out These Figma Templates</a>
            </div>

        </div> 

    </div>

</div>
