---
title:       Ruben Gutierrez - Professional Website Designer & Developer
layout:      'default.njk'
date:        2024-12-05
description: "Hello, I'm Ruben Gutierrez A Website Designer in La Habra, California. Let's talk today! Email: rubengutierrezwebdesign@gmail.com phone: (562) 475-8959"
---

<div class="container  animated mtb-25">

    <!-- About Title -->
    <div class="flow mtb-50 back-white paa-50" style="border-radius:10px;">
        <h1 class="mb-25 title">
            Ruben Gutierrez: Professional Website Designer
        </h1>
        <p>
            Hello! My name is Ruben Gutierrez and I am a freelance website designer in La Habra, California. I've been working on computers since I was 10 and have been building out website for the past few years.
        </p>
        <p>My interest with technology started when I received my first computer for Christmas at ten years old. When I wasn't taking it apart and putting it back together I was researching new ways to try and make it work faster and more efficiently. Fast forward a couple years and I began to help my friends and family fix their computers during the peak of the Windows XP security flaw days. </p>

        <p>Now that I'm 30 I've focused my attention to website development and design. </p>
    </div>

</div>

<div class="container animated j-flex mtb-50" style="animation-delay:.5s;">

    <div class="inner-container paa-50 mw-30 back-white">
        <img src="/assets/images/website-pricing-tool.png " alt="a website pricing tool">
        <h2 class="h3">Pricing Calculator</h3>
        <p>A pricing calculator that estimates the price of a website projects based on few specifications.</p>
        <a class="btn" href="/website-pricing-calculator/">Pricing Calculator</a>
    </div>

    <hr>

    <div class=" inner-container paa-50 mw-30 back-white">
        <img src="/assets/images/figma.png " alt="figma logo templates">
        <h2 class="h3">Figma Templates</h3>
        <p>A collection of Figma Templates I've Made over the last year.</p>
        <a class="btn" href="/figma-templates/">Figma Templates </a>
    </div>

</div>