---
title:       Ruben Gutierrez - Professional Website Designer & Developer
layout:      'default.njk'
date:        2025-03-03
description: "Hello my name is Ruben Gutierrez & I'm A Website Developer."
---

 <!-- Hero -->
<div class="container flow hero flex mtb-150 back-white animated">

   

    <div class="home-sub-paragraph paa-25" style="max-width:600px;">
         <h1 class="mb-25">
            <span>Professional Website Designer</span><br>
            Rubén Gutierrez
        </h1>
        <p class="">
            Hello! My name is Rubén Gutierrez and I'm a freelance website designer from the United States in the La Habra, California area. 
        </p>
        <a href="/ruben-gutierrez-website-developer/" class="btn" style="text-decoration:none !important;">Learn More</a>
    </div>

    <img class="paa-25" src="/assets/images/hero.svg" alt="">

</div>

<hr>



<div class="container home animated">

    <!-- Projects -->
    <div class="animated mtb-50 back-white home-section" style="animation-delay:.225s;">

        <div class="home-projects-title projects">
            <h2 class="h2">Things I've Made</h3>
            <p class="m">These are some of the things I've made they include things like website tools, HTML Templates, and websites designs.</p>
        </div>

        <div class="flex flex-wrap projects">

            <div class=" project">
                <img src="\pages\projects\tools\website-pricing-calculator\website-pricing-calculator.png" alt="a website pricing tool">
                <h3><a href="/website-pricing-calculator/">Pricing Calculator</a></h3>
                <p>
                    A website pricing calculator that estimates the price of a website project based on few simple questions. How many pages does your website have? What level of design will you want for you website? how responsive do you want your website to be?
                </p>

            </div>

            <div class=" project">
                <img src="\pages\projects\figma_templates\figma-logo.png" alt="figma logo -">
                <h3><a href="/figma-templates/">Figma Templates</a></h3>
                <p>
                    A collection of Figma Templates I've Made over the last year. Here you can find interface designs ranging from mobile to desktop covering a range of designs dentistry to photography.
                </p>
            </div>

            <div class=" project">
                <h3><a href="/websites/">Website Information</a></h3>
                <p>Learn More About Websites and Web Development: A Guide to Designing, Building, and Enhancing Your Online Presence. What is a website? How to get traffic to your website? What is WordPress? & More.</p>
            </div>

             <div class=" project">
                <img src="\pages\projects\html-templates\landing-template\landing-page-template-preview.png" alt="">
                <h3 class="h"><a href="/html-landing-page-template/">HTML Landing Page Template</a></h3>
                <p>
                    This is an HTML Landing Page Template. My aim with this project is to offer developers a quick landing page solution for their next website project. Some of the features in this landing page include an animated hero carousel and a contact form powered by FormSpree.
                </p>
            </div>

        </div>
    </div>
    <hr>

    <!-- Blog -->
    <div class="mtb-150 blog back-white paa-25">

        <h3 class="h2">Blog</h3>
        <p>Check Out My Blog</p>

        <div class="flex flex-wrap mtb-25" style="background:white;max-width:600px;">
            {% for post in collections.posts | reverse %}
                {% if loop.index0 < 4 %}
                    <!-- Blog Post -->

                        <article class="mb-50">

                            <!-- Title -->
                            <a href="{{post.url}}" style="text-decoration:none;">
                                <h3 class="">{{post.data.title}}</h3>
                            </a>
                            
                            <!-- Description -->
                            <p class="">{{post.data.description}}</p> 

                        </article>

                {% endif %}
            {% endfor %}
        </div>

    </div>

 

</div>
