---
layout: 'default.njk'
title:  "Website design & making free content"
permalink: /blog/making-free-design-resources-figma/
---
<h2>Why I make free design resources</h2>
<p>I do this for a few reasons.</p>
<p>The first reason is so that I can direct get some traffic to my website. </p>

<p>
    The second reason is so that I can get start building some back links from more reputable website to boost my website in the search engines. 
</p>

<p>
    The final and most important reasons is because I understand how difficult it can be to make websites from scratch. In the past I've sat there for hours trying to figure out why my website designs didn't look like the ones I saw on Behance and Dribbble. After downloading some free templates and tinkering with them for a while I saw my design skills improve. 
</p>

<h2>How Making Free Design Resources Is Going</h2>

<p>
    So far making these free design resources has been working pretty well. I've only been at it for about three weeks and so far I've received a ton a views and out of all those about a thousand designers have downloaded or 'duplicated' my work.
</p>