---
layout: 'default.njk'
title:  "Local"
date:        2024-12-03
permalink: /local/
---
<div class="container mb-100">

    <div class="pd-50 back-white paa-50">
        <h1>Local SEO Directory</h1>
        <p>Directory for local pages in North Orange County.</p>
    </div>

    <div class="flex flex-wrap mtb-50">
        {% for post in collections.local | reverse %}
            {% if loop.index0 < 10 %}
                <div class=" mb-20 back-white paa-50">
                    <a href="{{post.url}}"><h3 class="h4">{{post.data.title}}</h3></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>