---
title:       "Switching From Jekyll to 11ty"
permalink:   /2024-11-24/
layout:      'post.njk'
date:        2025-02-06
tags:        posts
thumbnail:   \pages\blog\24\11\jekyll-to-11ty.png
description: Part of the reason I moved over from Jekyll to 11ty was the Build time. While Jekyll is really good for smaller websites it starts falling on it's face as the website gets bigger
---

<img src="\pages\blog\24\11\jekyll-to-11ty.png" alt="">
<p>
    Today I switched my personal website over from Jekyll to 11ty after years of using Jekyll.
</p>

<p>
    The move started because I began to realize I had some problems that I never encountered up until recently. Lately I've been writing and building more web projects in general. This means I have to add a lot of content to my website.
</p>

<h2>Some Of Jekyll's Limitation</h2>
<p>
    While I still really appreciate how simple Jekyll is to use theirs one thing that made me look for an alternative static site generator. My main complaint with Jekyll is the build time. You see up until recently I only ever really used Jekyll for smaller websites and seo projects. Now that I'm building larger websites it's been taking longer and longer to compile my website.
</p>

<h2>Waiting A While Between Builds</h2>
<p>The sudden urge to find an alternative happened earlier this week. While building out this website I found myself having to wait almost 20 - 30 seconds in between builds to  When i looked further in too it</p>

<h3>Why I Chose Eleventy</h3>
<p>While it has been a bit of a headache adapting to this new static site generator it has gone relatively well and I'm quite surprised by the speed and features.</p>
<p>I chose 11ty for a few reasons but the main one is for it's speed.</p>
<p>From what I've read online it seems that Jekyll is built using older technology. Compare that to 11ty that's built with JavaScript and builds website almost instantaneously. </p>

