---
title:       "Switching From Jekyll to 11ty"
permalink:   /switching-from-jekyll-to-11ty/
layout:      'post.njk'
date:        2025-03-21
tags:        posts
thumbnail:   \pages\blog\24\11\jekyll-to-11ty.png
description: Part of the reason I moved over from Jekyll to 11ty was the Build time. While Jekyll is really good for smaller websites it starts falling on it's face as the website gets bigger
---

<p>
    Today I made the decisions of moving my website over from Jekyll to 11ty. The move started because I ran into a problem that I had never encountered with using Jekyll. 
</p>


<h2>Jekyll Is Really Powerful & Taught Me A Lot</h2>
<p>
    I've been using Jekyll for a while now and it's the first static site generator I learned how to use. Jekyll took me from being a website designer that relied on one page HTML templates and WordPress themes to someone who's a little more familiar with the intricacies of website design.
</p>

<h3>What Happened That Made Me Switch</h3>
<p> 
    While I didn't really plan on learning a new static site generator the longer it took Jekyll to preview my website the more I began to consider taking the leap. I finally decided to make the move when my computer froze for almost an entire minute. At first I thought it was my hardware because I the laptop I was using to develop my website is a little older, but after running some tests on my higher performing PC's I realized it was not a problem with my computer at all It was the software I was using and what I was expecting from it.
</p>

<h3>Jekyll Is For Smaller Website Projects</h3>
<p> 
    After  a while of doing some research on static site generators I was able to learn why Jekyll might not be the best option for what I was trying to do. 

    Up until recently most of the things I had been making with Jekyll where smaller that didn't have a ton of pages.  Smaller projects work really well with Jekyll because the language Jekyll is built on "Ruby" while very reliable is not as fast as some of the newer tools and languages available today.
    
    The things is now that I've gotten a little more seiours about website development I've been making more content.
</p>

<h3>Some Of Jekyll's Limitation</h3>
<p>
    up until recently I only ever really used Jekyll for smaller websites and seo projects. Now that I'm building larger websites it's been taking longer and longer to compile my website.
</p>

<h3>Looking For Alternatives</h3>
<p>
    I started to look for alternatives and the more I looked the more overwhelmed I got about choosing one. In the back of my mind all I wanted was a static site generator that generated as quick as possible but the more I thought about it the more I was able to narrow down some of the. 
</p>


<h3>Why I Chose 11ty</h3>
<p>
    While it has been a bit of a headache adapting to this new static site generator it has gone relatively well and I'm quite surprised by the speed and features.
</p>
<p>I chose 11ty for a few reasons but the main one is for it's speed.</p>
<p>
    From what I've read online it seems that Jekyll is built using older technology. Compare that to 11ty that's built with JavaScript and builds website almost instantaneously.
</p>

